<article class="main">
  <div class="form">
    {{base-component
      model=model
      save="save"
      cancel="cancel"
      delete=delete
      btnDisabled=saveTask.isRunning
      noun="ticket"
      permissions=permissions
    }}
    <section class="docSection container-fluid">

      {{#card-title}}
        <h1 class="col-md-12 t-ticket-header">
          {{model.sorted_categories.lastObject.name}}
          <small>{{t 'ticket.label.numberSymbol'}}{{model.number}}</small>
        </h1>
        <p class="col-md-12">
          {{timestamp-created model=model}}
        </p>
      {{/card-title}}

      {{#card-section}}
        <div class="row">
          <div class="col-md-12 ticket-categories">
            {{parent-model-category-select
              model=model
              valuePath="categories"
              disabled=model.isReadOnly
              readonly=model.isReadOnly
            }}
          </div>

          <div class="col-md-12 request-wrap">
            <div class="input-group">
              <span class="input-group-addon">{{t "ticket.label.request"}}</span>
              {{validated-input
                model=model
                placeholder=(t "ticket.label.request")
                valuePath="request"
                className="t-ticket-request-single ticket-request"
                textarea=true
                class="t-ticket-request-validator"
                readonly=model.isReadOnly
              }}
            </div>
          </div>
        </div>
      {{/card-section}}

      {{#if dispatchWorkOrderSteps}}
        {{#ember-wormhole to="work-order-create"}}
          {{#modal-dialog translucentOverlay=true}}
            {{work-orders/new 
              model=workOrderModel 
              cancel=(action "cancelWorkOrder")
              dispatchWorkOrder=dispatchWorkOrder
            }}
          {{/modal-dialog}}
        {{/ember-wormhole}}
      {{/if}}

      {{#if model.wo}}
        {{work-orders/ticket-display wos=model.wo}}
      {{else}}
        {{#card-section}}
          <div class="row">
            <div class="col-md-12">
              <button {{action "createWorkOrder"}} class="btn btn-primary btn-icon t-create-work-order-btn" data-test-id="wo-dispatch" type="button">{{fa-icon "wrench"}} <span class="btn-text">{{t "work_order.button.dispatch"}}</span></button>
            </div>
          </div>
        {{/card-section}}
      {{/if}}

      {{tickets/ticket-comments-and-file-upload 
        model=model 
        deleteAttachment="deleteAttachment" 
        save=(action "save" "update" "updateActivities")
      }}
      {{activity-list activities=activities}}

    </section>
  </div>
</article>
<aside class="side-panel">
  <header>
    <h1></h1>
  </header>
  <menu class="t-side-menu">
    <section>
      <div class="col-md-12">
        {{#form-group title="ticket.label.location-name" for="location" readonly=model.isReadOnly}}
        {{db-fetch-select
          model=model
          selectedAttr=model.location
          className="t-ticket-location-select"
          displayName="name"
          change_func="change_location"
          repository=locationRepo
          searchMethod="findTicket"
          valuePath="location"
          errorClass="error t-ticket-location-error"
          disabled=model.isReadOnly
        }}
        {{/form-group}}
      </div>
      <div class="col-md-12">
        {{#form-group title="ticket.label.assignee-fullname" for="assignee" readonly=model.isReadOnly}}
          {{db-fetch-select
            model=model
            selectedAttr=model.assignee
            className="t-ticket-assignee-select"
            displayName="fullname"
            change_func="change_assignee"
            repository=personRepo
            searchMethod="findPeople"
            valuePath="assignee"
            componentArg="photo-avatar"
            disabled=model.isReadOnly
          }}
        {{/form-group}}
      </div>
      <div class="col-md-12">
        {{#form-group title="ticket.label.cc" for="cc" readonly=model.isReadOnly}}
        {{db-fetch-multi-select 
          model=model 
          multiAttr="cc" 
          multiAttrIds="cc_ids" 
          selectedAttr=model.cc 
          className="t-ticket-cc-select" 
          displayName="fullname" 
          add_func="add_cc" 
          remove_func="remove_cc" 
          repository=personRepo 
          searchMethod="findPeople"
          componentArg="photo-avatar"
          disabled=model.isReadOnly
        }}
        {{/form-group}}
      </div>
      <div class="col-md-12">
        {{#form-group title="ticket.label.status-name" for="status" readonly=model.isReadOnly}}
          {{power-select-foreign-key
            model=model
            componentArg="tickets/ticket-status-tag"
            selected=model.status
            change_method="change_status"
            relatedModelName="ticket-status"
            disabled=model.isReadOnly
          }}
        {{/form-group}}
      </div>
      <div class="col-md-12">
        {{#form-group title="ticket.label.priority-name" for="priority" readonly=model.isReadOnly}}
          {{power-select-foreign-key
            model=model
            componentArg="tickets/ticket-priority-tag"
            selected=model.priority
            change_method="change_priority"
            relatedModelName="ticket-priority"
            disabled=model.isReadOnly
          }}
        {{/form-group}}
      </div>
    </section>
  </menu>
</aside>
