{{application-layout 
  tabs=tabs 
  closeTabMaster="closeTabMaster" 
  on-dismiss=(action 'dismiss_errors')
  linkToNew=(route-action "linkToNew")
  linkToNew=(route-action "linkToNew")
  permissions=permissions
}}

{{#if modalIsShowing}}
{{#modal-dialog translucentOverlay=true}}
  <div role="dialog" aria-labelledby="applicationTitle" aria-describedby="applicationBody">
    <div class="modal-header flex" id="applicationTitle">
      <h2 class="modal-title flex-item--auto t-modal-title">{{if (is-equal action 'closeTab' 'cancel') (t 'crud.discard_changes') (t 'crud.delete.title')}}</h2>
    </div>
    <div class="modal-body t-modal-body" id="applicationBody">
      <p>{{if (is-equal action 'closeTab' 'cancel') (t 'crud.discard_changes_confirm') (t 'crud.delete.confirm' module=module)}}</p>
    </div>
    <div class="modal-footer t-modal-footer">
      <button type="button" class="btn btn-default t-modal-cancel-btn" {{action "cancel_modal"}}>{{t 'crud.no'}}</button>
      {{#if (is-equal action 'closeTab')}}
        <button type="button" class="btn btn-primary t-modal-rollback-btn" {{action "rollback_model"}}>{{t 'crud.close_tab'}}</button>
      {{else if (is-equal action 'cancel')}}
        <button type="button" class="btn btn-primary t-modal-rollback-btn" {{action "rollback_model"}}>{{t 'crud.yes'}}</button>
      {{else if (is-equal action 'delete' 'deleteAttachment')}}
        <button type="button" class="btn btn-danger t-modal-delete-btn" {{action "delete_model"}}>{{t 'crud.delete.button'}}</button>
      {{/if}}
    </div>
  </div>
{{/modal-dialog}}
{{/if}}

{{#if message}}
  {{app-notice
    message=message
    noticeLevel=level
    on-dismiss=(action 'dismiss_errors')
  }}
{{/if}}

{{#if loginHtml}}
  {{django-login
    rawHtml=loginHtml
    doLogin=(route-action 'postLogin')
  }}
{{/if}}

<div id="home-menu-component">
</div>

<div id="work-order-create">
</div>
