{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
}}

<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section class="card-title">
        <div class="row">
          <h1 class="col-md-12">
            {{#if model.name}}
            {{model.name}}
            {{else}}
            <span class="new">{{t 'admin.locationlevel.new'}}</span>
            {{/if}}
          </h1>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <section>
        {{location-levels/detail-section model=model didValidate=didValidate}}
        {{location-levels/children-section model=model}}
      </section>
    </div>
  </div>
</section>
