{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
  noun="locationlevel"
  permissions=permissions
}}

<section class="docSection container-fluid">
  {{#card-title}}
    <h1 class="col-md-12">
      {{#if model.name}}
        {{model.name}}
      {{else}}
        <span class="new">{{t 'admin.locationlevel.new'}}</span>
      {{/if}}
    </h1>
  {{/card-title}}

  {{location-levels/detail-section model=model}}
  {{location-levels/children-section model=model}}
</section>
