{{#each model as |address index|}}
<div class="input-group-vertical t-address-group">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="t-del-address-btn btn btn-default btn-sm delete" type="button" {{action 'delete' address}}>{{fa-icon "minus"}}</button>
    </span>
    <select class="t-address-type form-control address-type" onchange={{action (action "changed" address) value="target.value"}}>
    {{#each types as |addressType|}}
    <option value={{addressType.id}} selected={{is-equal address.type addressType.id}}>{{t addressType.name}}</option>
    {{/each}}
    </select>
  </div>
  <div class="input-group">
    <span class="input-group-addon address-label">{{t "admin.address.address"}}</span>
    {{textarea value=address.address class="form-control t-address-address"}}
    {{#validation-error-field className="t-input-multi-address-validation-error" submitted=submitted field="address" model=address index=index validation="addressFormat"}}{{t "validation.invalid"}} {{t "admin.address.address"}}{{/validation-error-field}}
  </div>
  <div class="input-group">
    <span class="input-group-addon address-label">{{t "admin.address.city"}}</span>
    {{input type="text" value=address.city class="form-control t-address-city"}}
  </div>
  <div class="input-group">
    <span class="input-group-addon address-label">{{t "admin.address.state.one"}}</span>
    <select class="form-control t-address-state" onchange={{action (action "changeState" address) value="target.value"}}>
      <option value=""></option>
      {{#each state_list as |state_single|}}
      <option value={{state_single.id}} selected={{is-equal address.state state_single.id}}>{{state_single.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="input-group">
    <span class="input-group-addon address-label">{{t "admin.address.postal_code"}}</span>
    {{input type="text" value=address.postal_code class="form-control t-address-postal-code"}}
    {{#validation-error-field className="t-input-multi-address-zip-validation-error" submitted=submitted field="postal_code" model=address index=index validation="postal_codeFormat"}}{{t "validation.invalid"}} {{t "admin.address.postal_code"}}{{/validation-error-field}}
  </div>
  <div class="input-group">
    <span class="input-group-addon address-label">{{t "admin.address.country.one"}}</span>
    <select class="form-control t-address-country" onchange={{action (action "changeCountry" address) value="target.value"}}>
      <option value=""></option>
      {{#each countries as |country|}}
      <option value={{country.id}} selected={{is-equal address.country country.id}}>{{country.name}}</option>
      {{/each}}
    </select>
  </div>
</div>
{{/each}}
<button class="t-add-address-btn add-btn btn btn-default btn-sm" type="button" {{action 'append'}}><span class="btn-label">{{fa-icon "plus"}} {{t "admin.address.add"}}</span></button>
