<form {{action "return false" this on="submit"}}>

  {{base-component
    model=model
    save="save"
    cancel="cancel"
    delete="delete"
  }}

  <section class="docSection container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section style="padding-bottom: 0">
          <div class="row card-title">
            <h1 class="col-md-12">
              {{#if model.name}}
              {{model.name}}
              {{else}}
              <span class="new">{{t 'admin.role.new'}}</span>
              {{/if}}
            </h1>
          </div>
        </section>
      </div>
      <div class="col-md-12">
        <section>
          <div class="row">
            <div class="col-md-12">
              {{#form-group title="admin.role.label.name" for="name"}}
              {{input type="text" placeholder=(t "admin.role.label.name") value=model.name class="form-control t-role-name" id="role_name"}}
              {{#validation-error-field submitted=submitted field="name" className="validation validation-under t-name-validation-error" model=model validation=nameValidation}}{{t "validation.invalid"}} {{t "admin.role.label.name"}}{{/validation-error-field}}
              {{/form-group}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{#form-group title="admin.role.label.role_type" for="role_type"}}
              {{roles/role-type-select role=model all_role_types=all_role_types}}
              {{/form-group}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{#form-group title="admin.location.label.location_level" for="role_location_level_select"}}
              {{power-select-foreign-key mainModel=model selected=model.location_level change_method='change_location_level' relatedModels=all_location_levels relatedModelName='location-level' notTranslated=true}}
              {{#validation-error-field submitted=submitted field="location_level" className="validation validation-under t-location-level-validation-error" model=model validation=locationLevelValidation}}{{t "validation.invalid"}} {{t "admin.role.label.location_level"}}{{/validation-error-field}}
              {{/form-group}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{#form-group title="admin.role.label.category" for="category"}}
              {{roles/role-category-select role=model options=categories_children}}
              {{#validation-error-field submitted=submitted field="categories" className="validation validation-under t-role-category-validation-error" model=model validation=categoryValidation}}{{t "validation.invalid"}} {{t "admin.role.label.categories"}}{{/validation-error-field}}
              {{/form-group}}
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section>
          <div class="row card-title">
            <h2 class="col-md-12">{{t "admin.role.label.settings"}}</h2>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{#form-group title="admin.person.label.auth_amount" for="auth_amount"}}
              {{input-currency
                model=model
                field="auth_amount"
                currencyField="auth_currency"
              }}
              {{/form-group}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{#form-group title="admin.setting.dashboard_text" for="dashboard_text"}}
                <p class="inherited-msg t-inherited-msg-dashboard_text">
                  {{#link-to "admin.settings" model.settings_object.dashboard_text.inherits_from_id class="t-inherited-msg-dashboard_text-link"}}
                    {{t 'crud.inherited_from' from="general"}}
                  {{/link-to}}
                </p>
              {{textarea autoresize=true placeholder=(t 'crud.default_value' value=otherXhrs.[0].settings.dashboard_text) value=model.dashboard_text class="form-control t-settings-dashboard_text" id="dashboard_text"}}
              {{/form-group}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value={{model.create_all}} onclick={{action 'changeBool' 'role' 'create_all'}} checked={{model.create_all}} class="t-settings-create_all" name="create_all">
                  <span class="t-settings-create_all-label">{{t "admin.setting.create_all"}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value={{model.accept_assign}} onclick={{action 'changeBool' 'role' 'accept_assign'}} checked={{model.accept_assign}} class="t-settings-accept_assign" name="accept_assign">
                  <span class="t-settings-accept_assign-label">{{t "admin.setting.accept_assign"}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value={{model.accept_notify}} onclick={{action 'changeBool' 'role' 'accept_notify'}} checked={{model.accept_notify}} class="t-settings-accept_notify" name="accept_notify">
                  <span class="t-settings-accept_notify-label">{{t "admin.setting.accept_notify"}}</span>
                </label>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</form>
