<li><a>{{fa-icon "question" classNames="menuIcon"}}</a></li>
<li><a>{{fa-icon "search" classNames="menuIcon"}}</a></li>
<li><a>{{fa-icon "bell-o" classNames="menuIcon"}}<span class="badge">2</span></a></li>
<li><a>{{fa-icon "envelope-o" classNames="menuIcon"}} <span class="badge">56</span></a></li>
{{people/person-current}}
