<ul class="footer-nav-items t-footer-items">
  <li class="footer-item">{{#link-to "dashboard"}}{{fa-icon "bell-o"}}{{/link-to}}</li>
  <li class="footer-item">{{#link-to "dashboard"}}{{fa-icon "envelope-o"}}{{/link-to}}</li>
  <li class="footer-item">{{#link-to "dashboard"}}{{fa-icon "plus"}}{{/link-to}}</li>
  <li class="footer-item">{{#link-to "calendar"}}{{fa-icon "calendar"}}{{/link-to}}</li>
  <li class="footer-item">{{#link-to "dashboard"}}{{fa-icon "pie-chart"}}{{/link-to}}</li>
</ul>
