<hbox class="mobile-footer__wrapper t-footer-items">
  <div class="mobile-footer__item t-footer-item">{{#link-to "dashboard"}}{{fa-icon "bell-o"}}{{/link-to}}</div>
  <div class="mobile-footer__item t-footer-item">{{#link-to "dashboard"}}{{fa-icon "envelope-o"}}{{/link-to}}</div>
  <div class="mobile-footer__item t-footer-item">{{#link-to "dashboard"}}{{fa-icon "plus"}}{{/link-to}}</div>
  <div class="mobile-footer__item t-footer-item">{{#link-to "calendar"}}{{fa-icon "calendar"}}{{/link-to}}</div>
  <div class="mobile-footer__item t-footer-item">{{#link-to "dashboard"}}{{fa-icon "pie-chart"}}{{/link-to}}</div>
</hbox>
