<div class="activity-list-wrap row">
    <menu class="activity-list-tabs">
        <ul>
            <li class="active t-activity-tab-all_updates" onclick={{action 'filter' 'all_updates'}}>{{t 'activity.tabs.all_updates'}}</li>
            <li class="t-activity-tab-comments" onclick={{action 'filter' 'comments'}}>{{t 'activity.tabs.comments'}}</li>
            <li class="t-activity-tab-status_updates" onclick={{action 'filter' 'status_updates'}}>{{t 'activity.tabs.status_updates'}}</li>
        </ul>
    </menu>
    <div class="activity-list">
        <div class="activity-spacer"></div>
        {{#each sortedModels as |activity|}}
        <div class="t-activity-list-item activity-list-item activity-{{activity.type}} animated">
            {{component (component-postfix activity.type) activity=activity i18nString=(activity-description activity timestamp=(moment-from-now activity.created) i18n=i18n) }}
        </div>
        {{/each}}
    </div>
</div>
