<aside class="side-panel">
  <header>
    <h1></h1>
  </header>
  <menu class="t-side-menu">
    {{tickets/ticket-new/side-section
      model=model
      didValidate=didValidate
      personRepo=personRepo
      locationRepo=locationRepo
      priorities=priorities
      statuses=statuses
    }}
  </menu>
</aside>


<article class="main">
  <div class="form">
    {{base-component
      model=model
      save="save"
      cancel="cancel"
    }}

    <section class="docSection container-fluid">
      <div class="row">
        <div class="col-md-12">
          <section class="card-title">
            <div class="row">
              <h1 class="col-md-12">
              {{#unless model.top_level_category.name}}
                <span class="new">{{t "ticket.new"}}</span>
              {{else}}
                {{model.top_level_category.name}}
              {{/unless}}
              </h1>

            </div>
          </section>
        </div>
        <div class="col-md-12">
          {{tickets/ticket-new/detail-section
            model=model
            didValidate=didValidate
            submitted=submitted
          }}
        </div>
      </div>
    </section>
  </div>
</article>
