<!-- {{#each locales as |loc|}}
  <option value="{{loc.id}}">{{loc.text}}</option>
{{/each}} -->

<option value="en" selected={{is-equal current "en"}}>English</option>
<option value="es" selected={{is-equal current "es"}}>Spanish</option>
<option value="fr" selected={{is-equal current "fr"}}>French</option>
<option value="ch" selected={{is-equal current "ch"}}>Chinese</option>
<option value="jp" selected={{is-equal current "jp"}}>Japanese</option>
