<!-- {{#each locales as |loc|}}
  <option value="{{loc.id}}">{{loc.text}}</option>
{{/each}} -->

{{#each locales as |locale|}}
<option value={{locale.locale}} selected={{is-equal current locale.locale}}>{{locale.name}} - {{locale.native_name}}</option>
{{/each}}
