<form {{action "return false" this on="submit"}}>
	<header>
		<div class="btn-group btn-group-sm pull-right center-block" style="z-index: 2">
      {{button-generic save="saveLocationLevel" type="save"}}
      {{button-generic cancel="cancelLocationLevel" type="cancel"}}
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">{{fa-icon "files-o"}} Duplicate</a></li>
				<li><a href="#">{{fa-icon "print"}} Print</a></li>
				<li>{{delete-button delete="deleteLocationLevel"}}</li>
			</ul>
		</div>
	</header>
	<section class="docSection container-fluid">
		<section>
			<h2 class="col-sm-12">{{t "admin.location-level.label.credentials"}}</h2>
			<div class="col-sm-6">
				{{#form-group title="admin.location-level.label.name" for="name"}}
					{{input type="text" value=model.name placeholder=(t "admin.locationlevel.label.name") class="form-control t-location-level-name" id="name" required="required"}}
					{{#validation-error-field submitted=submitted field="name" className="validation validation-under t-name-validation-error" model=model validation=nameValidation}}{{t "validation.invalid"}} {{t "admin.location-level.label.name"}}{{/validation-error-field}}
				{{/form-group}}
			</div>
		</section>
	</section>
</form>
