<div class="checkbox-permission-items">

  <label class="flex-item--auto" data-test-id={{concat  "t-permission-view-" permissionItem}}>
  </label>

  <label class="checkbox-permission-items--right" data-test-id="t-permission-view-create">
    {{t "role.label.permission.create"}}
  </label>
  <label class="checkbox-permission-items--right" data-test-id="t-permission-view-view">
    {{t "role.label.permission.view"}}
  </label>
  <label class="checkbox-permission-items--right" data-test-id="t-permission-view-edit">
    {{t "role.label.permission.edit"}}
  </label>
  <label class="checkbox-permission-items--right" data-test-id="t-permission-view-delete">
    {{t "role.label.permission.delete"}}
  </label>
</div>

{{#each permissionsList as |permissionItem|}}
	<div class="checkbox-permission-items">
    <label class="flex-item--auto" data-test-id={{concat  "t-permission-view-" permissionItem}}>
      {{t (concat "role.label.permission." permissionItem) }}
		</label>

    {{checkbox-component
     labelClass="checkbox-permission-items--right" 
     dataTestId=(concat "permission-view-" permissionItem)
     checked=(get model (get-permission permissionItem "view"))
    }}

    {{checkbox-component
     labelClass="checkbox-permission-items--right" 
     dataTestId=(concat "permission-add-" permissionItem)
     checked=(get model (get-permission permissionItem "add"))
    }}

    {{checkbox-component
     labelClass="checkbox-permission-items--right" 
     dataTestId=(concat "permission-change-" permissionItem)
     checked=(get model (get-permission permissionItem "change"))
    }}
    
    {{checkbox-component
     labelClass="checkbox-permission-items--right" 
     dataTestId=(concat "permission-delete-" permissionItem)
     checked=(get model (get-permission permissionItem "delete"))
    }}
	</div>
{{/each}}
