<div class="input-group-vertical t-action-group">
  <div class="input-group">
    <span class="input-group-addon action-label t-sendemail-recipient-label">{{t "admin.action.sendemail.recipients"}}</span>
    {{db-fetch-multi-select 
      model=model 
      multiAttr="recipient" 
      multiAttrIds="recipient_ids" 
      selectedAttr=model.sendemail.recipient 
      className="t-action-recipient-select" 
      displayName="fullname" 
      add_func="add_recipient" 
      remove_func="remove_recipient" 
      repository=personRepo 
      searchMethod="findPeople"
    }}
  </div>
  <div class="input-group">
    <span class="input-group-addon action-label t-sendemail-subject-label">{{t "admin.action.subject"}}</span>
      {{validated-input
        model=model.sendemail
        valuePath="subject"
        count=index
        className=(concat "t-action-subject" index)
        placeholder=placeholder
        class=(concat "t-action-subject-validator" index)
        didValidate=didValidate
      }}
  </div>
  <div class="input-group">
    <span class="input-group-addon action-label t-sendemail-body-label">{{t "admin.action.body"}}</span>
      {{validated-input
        model=model.sendemail
        valuePath="body"
        count=index
        className=(concat "t-action-body" index)
        placeholder=placeholder
        class=(concat "t-action-body-validator" index)
        didValidate=didValidate
        textarea=true
      }}
  </div>
</div>
