<div class="row">
  <div class="col-md-12">
    {{#each model.action as |action index|}}
      {{power-select-validation
        model=model
        valuePath="action"
        didValidate=didValidate
        index=index
      }}
      <div class="input-group-vertical" data-validation-target={{concat "action" index}}>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="t-del-action-btn btn btn-default btn-sm delete" type="button" {{action "delete" action}}>{{fa-icon "minus"}}</button>
          </span>
          {{#power-select-mobile
            class="t-automation-action-type-select"
            tagName="div"
            selected=action.type
            allowClear=false
            onchange=(action "setActionType" action)
            onopen=(action "fetchActions" index)
            searchEnabled=false
            options=optionz
            labelText="admin.automation.action_type.label"
            as |type|
          }}
            {{t type.key}}
          {{/power-select-mobile}}
        </div>
        {{component (automation-action action.type)
          model=action
          didValidate=didValidate
          index=index
        }}
      </div>
    {{/each}}
    <button class="t-add-action-btn btn-add btn btn-default btn-sm" type="button" {{action "addAction"}}>
      <span class="btn-label">{{fa-icon "plus"}} {{t "admin.automation.action.add"}}</span>
    </button>
  </div>
</div>
