<div class="rowTable">
    <header class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right btn-group btn-group-sm">
                    {{#if hasActiveFilterSet}}
                        <button class="t-show-save-filterset-modal btn btn-primary btn-sm" {{action "toggleSaveFilterSetModal"}}>{{t 'grid.save_filter'}}</button>
                    {{/if}}
                    {{#if count}}
                        {{#link-to add_model_url count class="t-add-new add-btn btn btn-default btn-sm"}}
                        {{fa-icon "plus-circle"}} {{t 'button.add' model=add_model_text}}
                        {{/link-to}}
                    {{else}}
                        {{#if add_model_url}}
                            {{#link-to add_model_url class="t-add-new add-btn btn btn-default btn-sm"}}
                            {{fa-icon "plus-circle"}} {{t 'button.add' model=add_model_text}}
                            {{/link-to}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </header>
    {{#if savingFilter}}
        {{#tether-dialog close='toggleSaveFilterSetModal' containerClassNames='save-filterset-dialog' hasOverlay=true clickOutsideToClose=true}}
        <div class="form-group input-group">
            {{input value=filtersetName class="form-control input-md t-filterset-name-input" placeholder=(t 'grid.filterset_name')}}
            <div class="input-group-btn">
                <button class="btn btn-primary btn-sm t-filterset-save-btn" {{action "invokeSaveFilterSet"}}>{{t 'grid.save_filter'}}</button>
            </div>
        </div>
        {{/tether-dialog}}
    {{/if}}
    {{#if toggleFilter}}
        {{#tether-dialog containerClassNames='save-filterset-dialog' close='toggleFilterModal' hasOverlay=true clickOutsideToClose=true}}
        <div class="form-group input-group">
            {{input-dynamic-filter close='toggleFilterModal' obj=filterModel prop=filterField placeholder=filterPlaceholder}}
            <div class="input-group-btn">
                <button class="btn btn-primary btn-sm t-filterset-save-btn" {{action "toggleFilterModal"}}>{{t 'grid.filter'}}</button>
            </div>
        </div>
        {{/tether-dialog}}
    {{/if}}
    <section class="docSection docSectionWithFooter container-fluid t-grid-wrap">
        <div class="row">
            <div class="col-md-12">
                <section style="padding-bottom: 0">
                    <div class="row card-title">
                        <h1 class="col-md-8">
                            <span class="t-grid-title">{{grid_title}}</span>
                            {{#if (filters-applied sort find search)}}
                                <span class="t-reset-grid reset-grid" {{action "resetGrid"}}>{{t 'grid.reset_all_options'}}</span>
                            {{/if}}
                            {{#unless model.isLoaded}}
                            {{grid-loading-graphic}}
                            {{/unless}}
                        </h1>
                        <div class="col-md-4 text-center search-wrap pull-right">
                            {{grid-search-input placeholder=search_placeholder keyup=(action "keyup")}}
                        </div>
                        <div class="col-md-12 filtersets t-filterset-wrap">
                            {{filterset-navigation filtersets=filtersets route=routePath}}
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="head">
                        <th></th>
                        {{#each searchable as |column|}}
                        {{grid-column label=(t (t-prefix prefix column)) column=column sort=sort find=find toggleFilterModal=(action "toggleFilterModal") sortBy=(action "sortBy")}}
                        {{/each}}
                        {{#each nonsearchable as |column|}}
                        <th class={{add-text-right nonsearchable column}}>{{t (t-prefix prefix column) }}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each paginated_content as |item|}}
                    {{#link-to detail_url item.id tagName="tr" class="t-grid-data"}}
                    <td><input type="checkbox" /></td>
                    {{#each searchable as |column|}}
                    <td class="{{grid-row-class noun column}}">{{grid-column-text item column}}</td>
                    {{/each}}
                    {{#each nonsearchable as |column|}}
                    <td class="{{grid-row-class noun column}} {{add-text-right nonsearchable column}}">{{get item column}}</td>
                    {{/each}}
                    {{/link-to}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <span class="pull-left t-page-count">{{model.count}} {{plural}}</span>
            </div>
            <div class="col-md-8">
                <nav class="text-center">
                    <ul class="pagination t-pages">
                        <li class="t-first {{if first '' 'disabled'}}" disabled={{if first disabled ''}}>{{#link-to list_url (query-params page=first) disabled=notFirst}}&laquo;{{/link-to}}</li>
                        <li class="t-previous {{if previous '' 'disabled'}}" disabled={{if previous disabled ''}}>{{#link-to list_url (query-params page=previous) disabled=notPrevious}}&lsaquo;{{/link-to}}</li>
                        {{#each shown_pages as |page|}}
                        <li class="t-page">
                            {{#link-to list_url (query-params page=page)}}{{page}}{{/link-to}}
                        </li>
                        {{/each}}
                        <li class="t-next {{if next '' 'disabled'}}" disabled={{if next disabled ''}}>{{#link-to list_url (query-params page=next) disabled=notNext}}&rsaquo;{{/link-to}}</li>
                        <li class="t-last {{if last '' 'disabled'}}" disabled={{if last disabled ''}}>{{#link-to list_url (query-params page=last) disabled=notLast}}&raquo;{{/link-to}}</li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2">
                <span class="text-right pull-right page-size t-page-size">
                    <select class="form-control input-sm" onchange={{action "togglePageSize" value="target.value"}}>
                        {{#each page_sizes as |size|}}
                        <option value={{size}} selected={{is-equal page_size size}}>{{t 'grid.per_page' size=size}}</option>
                        {{/each}}
                    </select>
                </span>
            </div>
        </div>
    </footer>

</div>
