<header class="peopleSection">
	<h1 class="peeople">{{t 'admin.locationOrg' count='1'}}</h1>

	<div class="btn-group btn-group-sm pull-right center-block">
		{{add-button}}
	</div>

</header>
<section class="docSection rowTable">
	<table class="table table-striped table-hover">
		<thead>
			<tr class="head">
				<th>Name</th>
				<th>Children</th>
				<th># of Locations</th>
			</tr>
		</thead>
		<tbody>
			{{#each model as |loc|}}
				{{#link-to 'admin.locationlevel' loc.id tagName="tr" class="data"}}
					<td class="first">{{t loc.name}}</td>
					<td>
						{{#each loc.children as |child|}}
							{{t child.name}}<br>
						{{else}}
							(no children)
						{{/each}}
					</td>
					<td></td>
				{{/link-to}}
			{{/each}}
		</tbody>
	</table>
</section>
