{{#unless input}}
  {{input type=type placeholder=placeholder value=value class=className}}
  {{#if showMessage}}
    <div class="error">
      {{v-get model valuePath 'message'}}
    </div>
  {{/if}}
{{else}}
  {{textarea autoresize=true placeholder=placeholder value=rawInputValue class=className}}
  {{#if showMessage}}
    <div class="error">
      {{v-get model valuePath 'message'}}
    </div>
  {{/if}}
{{/unless}}
