{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
  noun="automation"
  permissions=permissions
}}

<section class="docSection container-fluid">
  {{#card-title}}
    <h1 class="col-md-12 t-automation-header">
      {{#if model.new}}
        <span class="new">{{t "admin.automation.new"}}</span>
      {{else}}
        {{#if model.description}}
          {{model.description}}
        {{else}}
          <span class="new">{{t "admin.automation.detail"}}</span>
        {{/if}}
      {{/if}}
    </h1>
  {{/card-title}}

  {{#card-section}}
    {{automations/detail-section model=model}}
  {{/card-section}}

  {{card-title title="admin.automation.criteria"}}
  {{#card-section}}
    {{automations/filter-section model=model id="pf"}}
  {{/card-section}}

  {{card-title title="admin.automation.actions"}}
  {{#card-section}}
    {{automations/action-section model=model id="action"}}
  {{/card-section}}

</section>
