{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
}}

<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="row card-title">
          <h1 class="col-md-12 t-automation-header">
            {{#if model.new}}
              <span class="new">{{t "admin.automation.new"}}</span>
            {{else}}
              {{#if model.description}}
                {{model.description}}
              {{else}}
                <span class="new">{{t "admin.automation.detail"}}</span>
              {{/if}}
            {{/if}}
          </h1>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section>
        {{automations/detail-section model=model didValidate=didValidate}}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="row card-title">
          <h2 class="col-md-12">{{t "admin.automation.events"}}</h2>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      {{db-fetch-multi-select
        model=model
        multiAttr="event"
        multiAttrIds="event_ids"
        selectedAttr=model.event
        className="t-automation-event-select"
        displayName="key"
        add_func="add_event"
        remove_func="remove_event"
        repository=repository
        searchMethod="findEvent"
      }}
    </div>
    <div class="col-md-12">
      <section>
        <div class="row card-title">
          <h2 class="col-md-12">{{t "admin.automation.filters"}}</h2>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <section>
        {{automations/filter-section model=model didValidate=didValidate id="pf"}}
      </section>
    </div>
  </div>
</section>
