{{#link-to 'admin.person' person tagName="tr"}}
  <td> {{person.lastName}}, {{person.firstName}}</td>
  <td>{{person.isActive}}</td>
  <td>{{person.title}}</td>
  <td>{{person.emp_number}}</td>
  <td>{{person.role}}</td>
  <td>{{person.auth_amount}}</td>
{{/link-to}}
