<form {{action "return false" this on="submit"}}>

  {{base-component
  model=model
  save="save"
  cancel="cancel"
  delete="delete"
  }}

  <section class="docSection container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section style="padding-bottom: 0">
          <div class="row card-title">
            <h1 class="col-md-12">{{model.priority.name}}</h1>
          </div>
        </section>
      </div>
      <div class="col-md-12">
        <section>
          <div class="row">
            <div class="col-md-12">
              <select class="form-control t-ticket-status" onchange={{action "changed" value="target.value"}}>
                {{#each statuses as |status|}}
                <option value={{status.id}} selected={{is-equal model.status.id status.id}}>{{status.name}}</option>
                {{/each}}
              </select>
              {{#validation-error-field submitted=submitted field="status" className="validation validation-under t-status-validation-error" model=model validation=statusValidation}}invalid status{{/validation-error-field}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ticket-priority-select ticket=model priorities=priorities}}
              {{#validation-error-field submitted=submitted field="priority" className="validation validation-under t-priority-validation-error" model=model validation=priorityValidation}}invalid priority{{/validation-error-field}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ticket-person-multi-select ticket=model search=search ticket_cc_options=ticket_cc_options}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{parent-ticket-category-select ticket=model top_level_category_options=top_level_category_options}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{input type="text" placeholder=(t "ticket.label.requester") value=model.requester.name class="form-control t-ticket-requester"}}
            </div>
          </div>
					<div class="row">
						<div class="col-md-12">
							{{#form-group title="admin.ticket.label.location" for="location"}}
                {{ticket-location-select ticket=model ticket_location_options=ticket_location_options search_location=search_location}}
							{{/form-group}}
						</div>
					</div>
        </section>
      </div>
    </div>
  </section>
</form>

