<form {{action "return false" this on="submit"}}>

  {{base-component
  model=model
  save="save"
  cancel="cancel"
  delete="delete"
  }}

  <section class="docSection container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section style="padding-bottom: 0">
          <div class="row card-title">
            <h1 class="col-md-12">{{model.subject}}</h1>
          </div>
        </section>
      </div>
      <div class="col-md-12">
        <section>
          <div class="row">
            <div class="col-md-12">
              {{#form-group title="ticket.label.subject" for="subject"}}
              {{input type="text" placeholder=(t "ticket.label.subject") value=model.subject class="form-control t-ticket-subject" id="ticket_subject"}}
              {{#validation-error-field submitted=submitted field="subject" className="validation validation-under t-subject-validation-error" model=model validation=subjectValidation}}invalid subject{{/validation-error-field}}
              {{/form-group}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <select class="form-control t-ticket-status" onchange={{action "changed" value="target.value"}}>
                {{#each statuses as |status|}}
                <option value={{status.id}} selected={{is-equal model.status.id status.id}}>{{status.name}}</option>
                {{/each}}
              </select>
              {{#validation-error-field submitted=submitted field="status" className="validation validation-under t-status-validation-error" model=model validation=statusValidation}}invalid status{{/validation-error-field}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <select class="t-ticket-priority form-control ticket-priority" onchange={{action (action "changedPriority" model) value="target.value"}}>
                {{#each priorities as |ticketPriority|}}
                <option value={{ticketPriority.id}} selected={{is-equal model.priority.id ticketPriority.id}}>{{t ticketPriority.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ticket-person-multi-select ticket=model search=search ticket_cc_options=ticket_cc_options}}
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</form>

