{{#each model as |email index|}}
<div class="input-group">
  <span class="input-group-btn">
    <button class="t-del-btn btn btn-default btn-sm delete" type="button" {{action 'delete' email}}>{{fa-icon "minus"}}</button>
  </span>
  <span class="input-group-btn">
    <select class="t-multi-email-type form-control email-type" onchange={{action (action "changed" email) value="target.value"}}>
      {{#each types as |emailType|}}
      <option value={{emailType.id}} selected={{is-equal email.type emailType.id}}>{{t emailType.name}}</option>
      {{/each}}
    </select>
  </span>

  {{input-dynamic obj=email prop=fieldNames placeholder=placeholder}}
  {{#validation-error-field field="number" class="t-input-multi-email-validation-format-error" submitted=submitted model=email index=index validation="numberFormat"}}invalid email number{{/validation-error-field}}
  {{#validation-error-field field="number" class="t-input-multi-email-validation-region-error" submitted=submitted model=email index=index validation="numberRegion"}}invalid email number region{{/validation-error-field}}
</div>
{{/each}}
<button class="t-add-btn add-btn btn btn-default btn-sm" type="button" {{action 'append'}}><span class="btn-label">{{fa-icon "plus"}} {{t "admin.email.add"}}</span></button>
