<section class="inner">
  <div class="row">
    <div class="col-md-12">
      {{comment-save model=model}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="ticket-actions">
        <div class="ticket-action save">
          <span {{action "save"}} class="btn btn-default btn-add t-ticket-action-save">{{fa-icon 'check-circle'}} {{t 'crud.update.button'}}</span>
        </div>
        <div class="ticket-action attach">
          <span class="btn btn-default btn-file">{{fa-icon 'paperclip'}} {{t "button.upload"}}<input type="file" multiple="multiple" onchange={{action "upload"}}></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {{#if attachmentErrMsg}}
      <h2 class="t-ticket-attachment-error">{{t attachmentErrMsg}}</h2>
    {{/if}}
    {{#each model.attachments as |attachment|}}
    {{#if attachment.new}}
    <div class="col-md-12 progress-wrap">
      <div class="progress active {{attachment.complete_class}}" role="progressbar" aria-valuemin="100" aria-valuemax="100" aria-valuenow="0">
        <div class={{attach-file-progress attachment.percent}} style={{attachment.progress}}>
          <span class="attachment-title">{{attachment.title}}</span>
          {{#unless attachment.complete}}
          <span class="attachment-progress"> - {{t "upload.progress"}}: {{attachment.percent}}%</span>
          {{/unless}}
          <i class="fa fa-minus-circle remove-attachment t-remove-attachment" aria-hidden="true" {{action "removeAttachment" attachment.id}}></i>
        </div>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
</section>
<div class="activity-list-wrap">
  <div class="activity-list">
    {{#each (sort-created activities) as |activity|}}
      <div class="t-activity-list-item activity-list-item activity-{{activity.type}} animated-fast fadeInDown">
        {{component (component-postfix activity.type) activity=activity i18nString=(activity-description activity timestamp=(moment-from-now activity.created) i18n=i18n) fulltime=(moment-format activity.created 'dddd, MMMM Do YYYY, h:mm:ss a z') }}
      </div>
    {{/each}}
  </div>
</div>
