<span class="activity-icon" data-test-id="activity-icon">{{fa-icon faIcon}}</span>
<span data-test-id="message-type">{{t messageType}} {{sentTo}}</span>

{{oxford-comma array=ccs prop="fullname" classItem="t-recipients" linkto="admin.people.person"}}

<span data-test-id="t-sent-via">&ensp;{{via}} {{ticket-activity-creator-link activity=activity}}</span>&nbsp;
<span class="activity-timestamp t-activity-timestamp" title="{{fulltime}}">{{moment-from-now activity.created interval=60000}}</span>
