<article class="main">
{{#grid-view2 as |t|}}
  <div class="rowTable">
    {{t.savingFilter
      savingFilter=savingFilter
      toggleFilter=toggleFilter
      save_filterset=save_filterset
      filterModel=filterModel
      find=find
      filterField=filterField
      filterPlaceholder=filterPlaceholder
    }}
    <section class="docSection docSectionWithFooter container-fluid t-grid-wrap">
      <div class="row">
        {{t.gridTitle
          model=model
          grid_title=grid_title
          sort=sort
          find=find
          search=search
        }}
      </div>
      <div class="row">
        <header class="dtd-grid-header">
          {{t.gridSearch
            page=page
            search=search 
            placeholder=search_placeholder 
            class="flex-item--none"
          }}
          {{t.head
            add_model_text=add_model_text
            hasActiveFilterSet=hasActiveFilterSet
            count=count
            add_model_url=add_model_url
            savingFilter=savingFilter
            class="flex-item--auto"
            repository=repository
            exportGrid=(route-action "exportGrid" find search sort)
            isLoading=isLoading
            linkToNew=(route-action "linkToNew")
            noun=noun
            permissions=permissions
          }}
        </header>
      </div>
      <div class="row">
        <div class="col-md-12 filtersets t-filterset-wrap">
          {{filterset-navigation filtersets=filtersets route=routeName}}
        </div>
      </div>
      {{t.gridTable
        model=model
        requested=requested
        columns=columns
        find=find
        sort=sort
        detail_url=detail_url
        noun=noun
        toggleFilter=toggleFilter
        filterField=filterField
        page_size=page_size
        filterPlaceholder=filterPlaceholder
        isLoading=isLoading
      }}
    </section>
    {{t.footer 
      model=model 
      plural=plural 
      list_url=list_url 
      page=page 
      page_size=page_size
      }}
  </div>
{{/grid-view2}}
</article>
