<form {{action "return false" this on="submit"}}>
	<header>
		<div class="btn-group btn-group-sm pull-right center-block" style="z-index: 2">
      {{button-generic save="savePerson" type="save"}}
      {{button-generic cancel="cancelPerson" type="cancel"}}
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">{{fa-icon "files-o"}} Duplicate</a></li>
				<li><a href="#">{{fa-icon "print"}} Print</a></li>
				<li>{{delete-button delete="deletePerson"}}</li>
			</ul>
		</div>
	</header>
	<section class="docSection container-fluid">
		<section>
			<h2 class="col-sm-12">{{t "admin.person.label.credentials"}}</h2>
			<div class="col-sm-6">
				{{#form-group title="admin.person.label.username" for="username"}}
					{{input type="text" value=model.username placeholder=(t "admin.person.label.username") class="form-control t-person-username" id="username" required="required"}}
					{{#validation-error-field submitted=submitted field="username" className="validation validation-under t-username-validation-error" model=model validation=usernameValidation}}{{t "validation.invalid"}} {{t "admin.person.label.username"}}{{/validation-error-field}}
				{{/form-group}}
			</div>
			<div class="col-sm-6">
				{{#form-group title="admin.person.label.password" for="password"}}
					{{input type="text" value=model.password placeholder=(t "admin.person.label.password") class="form-control t-person-password" id="password" required="required"}}
					{{#validation-error-field submitted=submitted field="password" className="validation validation-under t-password-validation-error" model=model validation=passwordValidation}}{{t "validation.invalid"}} {{t "admin.person.label.password"}}{{/validation-error-field}}
				{{/form-group}}
			</div>
			<div class="col-sm-12">
				{{#form-group title="admin.person.label.role" for="role"}}
			    	{{input type="text" value=model.role placeholder=(t "admin.person.label.role") class="form-control t-person-role" id="role"}}
            {{#validation-error-field submitted=submitted field="role" className="validation validation-under t-role-validation-error" model=model validation=roleValidation}}{{t "validation.invalid"}} {{t "admin.person.label.role"}}{{/validation-error-field}}
				{{/form-group}}
			</div>
		</section>
	</section>
</form>
