<span class="activity-icon">{{fa-icon "user"}}</span>
{{ticket-activity-creator-link activity=activity}} {{begString}} {{#each ccs as |cc|}}{{#link-to 'admin.people.person' cc.id class="t-ticket-cc-add-remove"}}{{cc.fullname}}{{/link-to}} {{/each}}{{middle}} <span class="activity-timestamp t-activity-timestamp" title="{{fulltime}}">{{timestamp}}</span>
