<span class="activity-icon" data-test-id="activity-icon">{{fa-icon "users"}}</span>
{{ticket-activity-creator-link activity=activity}} {{begString}}{{oxford-comma array=ccs prop="fullname" linkto="admin.people.person" classItem="t-ticket-cc-add-remove"}}{{middle}} <span class="activity-timestamp t-activity-timestamp" title="{{fulltime}}">{{moment-from-now activity.created interval=60000}}</span>
