{{#each model as |thing|}}
  <div class="input-group">
    {{input-dynamic obj=thing prop=fieldNames}}
    <span class="input-group-btn">
      <button class="t-del-btn btn btn-default delete" type="button" {{action 'delete' thing}}>{{fa-icon "minus"}}</button>
    </span>
  </div>
{{/each}}
<button class="t-add-btn add-btn btn btn-default" type="button" {{action 'append'}}>{{fa-icon "plus"}} {{t 'button.add'}}</button>
