<section>
  <div class="col-md-12">
    {{#form-group title="ticket.label.location-name" for="location"}}
      {{db-fetch-select 
        model=model 
        selectedAttr=model.location 
        className="t-ticket-location-select" 
        displayName="name" 
        change_func="change_location" 
        repository=locationRepo 
        searchMethod="findTicket"
        valuePath="location"
        didValidate=didValidate
      }}
    {{/form-group}}
  </div>
  <div class="col-md-12">
    {{#form-group title="ticket.label.priority-name" for="priority"}}
      {{power-select-foreign-key 
        model=model 
        selected=model.priority 
        change_method="change_priority" 
        relatedModelName="ticket-priority"
        labelText=(t "ticket.label.priority-name")
        valuePath="priority"
        didValidate=didValidate
      }}
    {{/form-group}}
  </div>
  <div class="col-md-12">
    {{#form-group title="ticket.label.status-name" for="status"}}
      {{power-select-foreign-key 
        model=model 
        selected=model.status 
        change_method="change_status" 
        relatedModelName="ticket-status"
        labelText=(t "ticket.label.status-name")
        valuePath="status"
        didValidate=didValidate
      }}
    {{/form-group}}
  </div>
  <div class="col-md-12">
    {{#form-group title="ticket.label.cc" for="cc"}}
      {{db-fetch-person-multi-select 
        model=model multiAttr="cc" 
        multiAttrIds="cc_ids" 
        selectedAttr=model.cc 
        className="t-ticket-cc-select" 
        displayName="fullname" 
        add_func="add_cc" 
        remove_func="remove_cc" 
        repository=personRepo 
        searchMethod="findPeople"
      }}
    {{/form-group}}
  </div>
  <div class="col-md-12">
    {{#form-group title="ticket.label.assignee-fullname" for="assignee"}}
      {{db-fetch-person-select 
        model=model 
        selectedAttr=model.assignee 
        className="t-ticket-assignee-select" 
        displayName="fullname" 
        change_func="change_assignee" 
        repository=personRepo 
        searchMethod="findPeople"
      }}
    {{/form-group}}
  </div>
</section>
