<section class="docSection docSectionWithFooter container-fluid t-grid-wrap">
  <div class="row">
    <div class="col-md-12">
      <section class="card-title">
        <div class="row">
          <h1 class="col-md-8">
            <span class="t-grid-title">{{grid_title}}</span>
            {{#if (filters-applied sort find search)}}
            <span class="t-reset-grid reset-grid" {{action "resetGrid"}}>{{t 'grid.reset_all_options'}}</span>
            {{/if}}
            {{#unless model.isLoaded}}
              {{grid-loading-graphic}}
            {{/unless}}
          </h1>
          <div class="col-md-4 text-center pull-right">
            {{grid-search-input search=search placeholder=search_placeholder keyup=(action "keyup")}}
          </div>
          <div class="col-md-12 filtersets t-filterset-wrap">
            {{filterset-navigation filtersets=filtersets route=routeName}}
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="head">
          <th class="selector" scope="col"></th>
          {{#each columns as |column|}}
            {{grid/helpers/grid-header-column
              tagName="th"
              style=(html-safe (if column.width (concat 'width: ' column.width)))
              column=column
              sort=sort
              find=find
              toggleFilterModal=(action "toggleFilterModal")
              sortBy=(action "sortBy")
              dataTestId=column.field
            }}
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#if isLoading}}
          {{grid-loading-graphic}}
        {{/if}}

        {{#each paginated_content as |item|}}
          {{#link-to detail_url item.id tagName="tr" class="t-grid-data"}}
          <td class="selector t-selector">
            {{#if item.isDirtyOrRelatedDirty}}
            {{fa-icon 'circle' classNames='dirty'}}
            {{/if}}
          </td>
          {{#each columns as |column|}}
            {{grid/helpers/grid-body-column tagName="td" noun=noun column=column item=item}}
          {{/each}}
          {{/link-to}}
        {{else}}
          {{grid-no-data tagName="tr" class="no-results" length=(add columns.length 1) error=error}}
        {{/each}}

      </tbody>
    </table>
  </div>
</section>
