<form {{action "return false" this on="submit"}}>
	<header>
		<h1>{{model.name}}</h1>
		<div class="btn-group btn-group-sm pull-right center-block">
			{{save-button save="saveRole"}}
			{{cancel-button cancel="cancelRole"}}
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">{{fa-icon "files-o"}} Duplicate</a></li>
				<li><a href="#">{{fa-icon "print"}} Print</a></li>
				<li>{{delete-button delete="deleteRole"}}</li>
			</ul>
		</div>
	</header>
	<section class="docSection container-fluid">
		<section>
			<h2 class="col-sm-12">{{t "admin.role.label.general"}}</h2>
			<div class="col-sm-12">
				{{#form-group title="admin.role.label.name" for="name"}}
			    	{{input type="text" placeholder=(t "admin.role.label.name") value=model.name class="form-control t-role-name" id="name" required="required"}}
				{{/form-group}}

				{{#form-group title="admin.role.label.role_type" for="role_type"}}
			    	{{input type="text" placeholder=(t "admin.role.label.role_type") value=model.role_type class="form-control t-role-role-type" id="role_type" required="required"}}
				{{/form-group}}

				{{#form-group title="admin.role.label.location_level" for="location_level"}}
			    	{{input type="text" placeholder=(t "admin.role.label.location_level") value=model.location_level class="form-control t-role-location_level" id="location_level" required="required"}}
				{{/form-group}}
        {{#each categories as |category|}}
				{{#form-group title="admin.role.label.category" for="category"}}
			    	{{input type="text" placeholder=(t "admin.role.label.category") value=category.name class="form-control t-role-category" required="required"}}
				{{/form-group}}
        {{/each}}
			</div>
		</section>
	</section>
</form>
