<form class="form-horizontal" {{action "return false" this on="submit"}}>
	<header>
		<h1>{{model.name}}</h1>
		<div class="btn-group btn-group-sm pull-right center-block">
			{{save-button save="saveRole"}}
			{{cancel-button cancel="cancelRole"}}
			{{delete-button delete="deleteRole"}}
		</div>
	</header>
	<section class="docSection col-sm-12">

			{{#form-group title="admin.role.label.name" for="name"}}
		    {{input type="text" placeholder=(t "admin.role.label.name") value=model.name class="form-control t-role-name" id="name" required="required"}}
			{{/form-group}}

	</section>
</form>
