<div class="modal fade bs-example-modal-lg t-delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{t 'crud.delete.title'}}</h4>
      </div>
      <div class="modal-body t-modal-delete-body">
        <p>{{t 'crud.delete.confirm' model=displayName}}</p>
      </div>
      <div class="modal-footer t-modal-delete-footer">
        <button type="button" class="btn btn-default t-modal-cancel-btn" {{action "cancel_modal"}}>{{t 'crud.no'}}</button>
        <button type="button" class="btn btn-primary t-modal-delete-btn" {{action "delete_model"}}>{{t 'crud.yes'}}</button>
      </div>
    </div>
  </div>
</div>
