<button class="t-dtd-list {{listShowing}}" {{action "toggleList"}}>LIST</button>
<button class="t-dtd-detail {{detailShowing}}" {{action "toggleDetail"}}>DETAIL</button>
<button class="t-dtd-preview {{previewShowing}}" {{action "togglePreview"}}>PREVIEW</button>
{{yield previewShowing detailShowing listShowing}}
