<span class="activity-icon" data-test-id="t-activity-icon">{{fa-icon faIcon}}</span>
{{ticket-activity-creator-link activity=activity}} {{begString}}
{{#link-to "admin.people.person" activity.from.id class="t-to-from-new"}}{{fromString}}{{/link-to}}
{{middleString}}
{{#link-to "admin.people.person" activity.to.id class="t-to-from-old"}}{{toStringValue}}{{/link-to}}
<span class="activity-timestamp t-activity-timestamp" title="{{fulltime}}">{{moment-from-now activity.created interval=60000}}</span>
