<div class="container-fluid">
    <div class="row">
        <h2 class="col-md-12">{{t 'admin.dtd.preview'}}</h2>
    </div>
    <div class="row">
        <header class="col-md-12"></header>
    </div>
    <div class="row">
        <div class="dtd-live">
            <div class="dtd-live-inner panel panel-default">
                {{#if model.note}}
                <div class="t-dtd-preview-note panel-header">
                    <div class="alert alert-info {{t model.note_type}}">{{format-markdown model.note}}</div>
                </div>
                {{/if}}
                <div class="panel-body">
                    {{#if model.description}}
                    <p class="t-dtd-preview-description">{{format-markdown model.description}}</p>
                    {{/if}}
                </div>
                {{#if model.prompt}}
                <div class="panel-footer t-dtd-preview-prompt">{{format-markdown model.prompt}}</div>
                {{/if}}
            </div>
            <!-- <h1 class="t-dtd-preview-key">{{model.key}}</h1>
            <h1 class="t-dtd-preview-link_type">{{model.link_type}}</h1> -->
        </div>
    </div>


</div>
