<h1 class="t-dtd-preview-key">{{model.key}}</h1>
<h1 class="t-dtd-preview-description">{{model.description}}</h1>
<h1 class="t-dtd-preview-prompt">{{model.prompt}}</h1>
<h1 class="t-dtd-preview-note">{{model.note}}</h1>
<h1 class="t-dtd-preview-note_type">{{model.note_type}}</h1>
<h1 class="t-dtd-preview-link_type">{{model.link_type}}</h1>
