{{base-component
  model=model
  save="save"
  cancel="cancel"
  noDeleteBtn=true
}}
<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <span class="t-ajax-error {{if ajaxError '' 'hidden'}}">
        {{#each ajaxError as |error|}}
        <span>{{error.value}}</span>
        {{/each}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section style="padding-bottom: 0">
        <div class="row card-title">
          <h1 class="col-md-12 t-settings-title">
            {{t 'admin.general.other'}}
          </h1>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <section>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.setting.company_name" for="company_name"}}
              {{validated-input
                model=model
                valuePath="company_name"
                didValidate=didValidate
                className="form-control t-settings-company_name"
                placeholder=(t "admin.setting.company_name")
                class="t-settings-company-name-validator"
              }}
            {{/form-group}}
          </div>
        </div>
        <div>
          <div class="col-md-12">
            {{#form-group title="admin.setting.company_code" for="company_code"}}
              {{validated-input
                model=model
                valuePath="company_code"
                didValidate=didValidate
                className="form-control t-settings-company_code"
                placeholder=(t "admin.setting.company_code")
                class="t-settings-company-code-validator"
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.setting.dashboard_text" for="dashboard_text"}}
              {{validated-input
                textarea=true
                model=model
                valuePath="dashboard_text"
                didValidate=didValidate
                className="form-control t-settings-dashboard_text"
                placeholder=(t "admin.setting.dashboard_text")
                class="t-settings-dashboard-text-validator"
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" value={{model.test_mode}} onclick={{action 'changeBool' 'tenant' 'test_mode'}} checked={{model.test_mode}} class="t-settings-test_mode" name="test_mode">
                <span class="t-settings-test_mode-label">{{t "admin.setting.test_mode"}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.setting.dt_start_key" for="dt_start_id"}}
            {{db-fetch-select
              model=model
              displayName="key"
              className="t-settings-dt_start-select"
              selectedAttr=model.dt_start
              repository=dtdRepo
              searchMethod="findDTD"
              change_func="changeStartDtd"
            }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 t-currency-code">
            {{#form-group title="admin.category.label.cost_currency" for="default_currency"}}
              {{general-power-select
                model=model
                className="t-currency-code-select"
                selected=currencyObject
                property="default_currency_id"
                options=currencyObjects
                isObject=true
                field="code"
              }}
            {{/form-group}}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
