{{#card-section}}
  <div class="col-md-12">
    {{#form-group title="ticket.label.location-name" for="location"}}
    {{db-fetch-select 
    model=model 
    selectedAttr=model.location 
    className="t-ticket-location-select" 
    displayName="name" 
    change_func="change_location" 
    repository=locationRepo 
    searchMethod="findTicket"
    valuePath="location"
    }}
    {{/form-group}}
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#form-group title="ticket.label.requester" for="requester"}}
      {{validated-input
      model=model
      valuePath="requester"
      className="t-ticket-requester"
      placeholder=(t "ticket.label.requester")
      class="t-ticket-requester-validator"
      }}
      {{/form-group}}
    </div>
  </div>
{{/card-section}}

{{card-title title="ticket.label.request"}}
{{#card-section}}
  <div class="col-md-12">
    <div class="ticket-categories">
      {{parent-model-category-select
      model=model
      valuePath="categories"
      }}
    </div>
    <div class="request-wrap">
      <div class="input-group">
        <span class="input-group-addon">{{t "ticket.label.request"}}</span>
        {{validated-input
        model=model
        placeholder=(t "ticket.label.request")
        valuePath="request"
        className="t-ticket-request-single ticket-request"
        textarea=true
        class="t-ticket-request-validator"
        }}
      </div>
    </div>
  </div>
{{/card-section}}
