{{input type="text" placeholder=(t "admin.dt.requester") value=ticket.requester class="form-control t-dt-ticket-requester"}}
{{power-select-location
  disabled=disabled
  selected=selected
  repository=locationRepo
  ticket=ticket
}}
<button {{action "start" ticket}} disabled={{isNotValid}} class="t-dt-start">{{t "dt.start"}}</button>
