<form {{action "return false" this on="submit"}}>
	<header>
		<h1>{{model.name}}</h1>
		<div class="btn-group btn-group-sm pull-right center-block">
			{{button-generic save="saveLocation" type="save"}}
			{{button-generic cancel="cancelLocation" type="cancel"}}
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">{{fa-icon "files-o"}} Duplicate</a></li>
				<li><a href="#">{{fa-icon "print"}} Print</a></li>
				<li>{{delete-button delete="deleteLocation"}}</li>
			</ul>
		</div>
	</header>
	<section class="docSection container-fluid">
		<section>
			<h2 class="col-sm-12">{{t "admin.location.label.general"}}</h2>
			<div class="col-sm-12">
				{{#form-group title="admin.location.label.name" for="name"}}
			    	{{input type="text" placeholder=(t "admin.location.label.name") value=model.name class="form-control t-location-name" id="location_name" required="required"}}
            {{#validation-error-field submitted=submitted field="name" className="validation validation-under t-name-validation-error" model=model validation=nameValidation}}{{t "validation.invalid"}} {{t "admin.location.label.name"}}{{/validation-error-field}}
				{{/form-group}}
      		</div>
			<div class="col-sm-12">
				{{#form-group title="admin.location.label.number" for="number"}}
			    	{{input type="text" placeholder=(t "admin.location.label.number") value=model.number class="form-control t-location-number" id="location_number" required="required"}}
				{{/form-group}}
      		</div>
	        <div class="col-sm-12">
				{{#form-group title="admin.location.label.location_level" for="location_location_level_select"}}
          {{location-level-select model=model.location_level location=model options=all_location_levels}}
				{{/form-group}}
		  	</div>
	        <div class="col-sm-12">
				{{#form-group title="admin.location.label.status" for="location_status"}}
					<select class="t-location-status form-control location_status" onchange={{action (action "changedStatus" model) value="target.value"}} id="location_status">
						{{#each all_statuses as |location_status|}}
							<option value={{location_status.id}} selected={{is-equal model.location_status location_status.id}}>{{t location_status.name}}</option>
						{{/each}}
					</select>
				{{/form-group}}
			</div>
		</section>
	</section>
</form>
