<form class="form-horizontal" {{action "return false" this on="submit"}}>
	<header>
		<h1>{{t "admin.general" count="2"}}</h1>
		<div class="btn-group btn-group-sm pull-right center-block">
			{{save-button save="savePerson"}}
			{{cancel-button cancel="cancelPerson"}}
			{{delete-button delete="deletePerson"}}
		</div>

	</header>
	<section class="docSection col-sm-12" id="people">

			{{#form-group title="Text Field" for="textField"}}
        {{input type="text" placeholder="Text Field" class="form-control" name="textField"}}
			{{/form-group}}

			{{#form-group title="Disabled Field" for="disabledField"}}
				{{input type="text" placeholder="Disabled Field" disabled="disabled" class="form-control" name="disabledField"}}
			{{/form-group}}

			{{#form-group title="Disabled Field with Default" for="disabledFieldDefault"}}
				{{input type="text" placeholder="Disabled Field with Default" disabled="disabled" class="form-control" name="disabledFieldDefault"}}
				<div class="checkbox">
					<label>
						<input type="checkbox" checked="checked">
						<span>Default from {{#link-to "index"}}Application Settings{{/link-to}}</span>
					</label>
				</div>
			{{/form-group}}

			{{#form-group title="Multi Input"}}
				{{log phone_number_types}}
				{{input-multi-phone types=phone_number_types model=model.numbers }}
			{{/form-group}}
			{{#form-group title="Select Field" for="selectField"}}
				<select name="selectField" class="form-control">
					<option>-</option>
					<option>One</option>
					<option>Two</option>
					<option>Three</option>
					<option>Four</option>
					<option>Five</option>
					<option>Six</option>
					<option>Seven</option>
				</select>
			{{/form-group}}

			{{#form-group title="Multi Select Field" for="selectFieldMulti"}}
				<select name="selectField" class="form-control" multiple="multiple">
					<option>One</option>
					<option>Two</option>
					<option>Three</option>
					<option>Four</option>
					<option>Five</option>
					<option>Six</option>
					<option>Seven</option>
				</select>
			{{/form-group}}

			{{#form-group title="Diabled Select Field" for="selectFieldDisabled"}}
				<select name="selectFieldDisabled" class="form-control" disabled="disabled">
					<option>-</option>
					<option>One</option>
					<option>Two</option>
					<option selected="selected">Three</option>
					<option>Four</option>
					<option>Five</option>
					<option>Six</option>
					<option>Seven</option>
				</select>
				<div class="checkbox">
					<label>
						<input type="checkbox" checked="checked">
						<span>Default from {{#link-to "index"}}Application Settings{{/link-to}}</span>
					</label>
				</div>
			{{/form-group}}

			{{#form-group title="Date Field" for="dateField"}}
				{{input type="date" class="form-control" name="dateField"}}
			{{/form-group}}

			{{#form-group title="Time Field" for="timeField"}}
				{{input type="time" class="form-control" name="timeField"}}
			{{/form-group}}

			{{#form-group title="Date Time Field" for="dateTimeField"}}
				{{input type="datetime-local" class="form-control" name="dateTimeField"}}
			{{/form-group}}

			{{#form-group title="Search Field" for="searchField"}}
				<div class="input-group">
					<div class="input-group-addon">
						{{fa-icon "search"}}
					</div>
					{{input type="search" class="form-control" name="searchField"}}
				</div>
			{{/form-group}}

			{{#form-group title="Checkbox List"}}
				<div class="checkbox">
					<label>
						{{input type="checkbox" name="orderableList"}}
						<span>Home</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						{{input type="checkbox" name="orderableList"}}
						<span>Calendar</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						{{input type="checkbox" name="orderableList"}}
						<span>Reports</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						{{input type="checkbox" name="orderableList"}}
						<span>Search</span>
					</label>
				</div>
				<div class="checkbox">
					<label>
						{{input type="checkbox" name="orderableList"}}
						<span>Admin</span>
					</label>
				</div>
			{{/form-group}}

			{{#form-group title="Checkbox List"}}
				<div class="radio">
					<label>
						{{input type="radio" name="orderableList"}}
						<span>Home</span>
					</label>
				</div>
				<div class="radio">
					<label>
						{{input type="radio" name="orderableList"}}
						<span>Calendar</span>
					</label>
				</div>
				<div class="radio">
					<label>
						{{input type="radio" name="orderableList"}}
						<span>Reports</span>
					</label>
				</div>
				<div class="radio">
					<label>
						{{input type="radio" name="orderableList"}}
						<span>Search</span>
					</label>
				</div>
				<div class="radio">
					<label>
						{{input type="radio" name="orderableList"}}
						<span>Admin</span>
					</label>
				</div>
			{{/form-group}}

			{{#form-group title="Textarea" for="textareaField"}}
				<textarea class="form-control" name="textareaField"></textarea>
			{{/form-group}}

			{{#form-group title="Disabled Textarea" for="textareaFieldDisabled"}}
				<textarea class="form-control" name="textareaFieldDisabled" disabled="disabled"></textarea>
				<div class="checkbox">
					<label>
						<input type="checkbox" checked="checked">
						<span>Default from {{#link-to "index"}}Application Settings{{/link-to}}</span>
					</label>
				</div>
			{{/form-group}}

			{{#form-group title="Switch"}}
				<div class="switch"></div>
					{{input id="myonoffswitch" name="myonoffswitch" type="checkbox" class="cmn-toggle cmn-toggle-round" checked="checked"}}
					<label for="myonoffswitch"></label>
			{{/form-group}}

	</section>
</form>
