<vbox class="mobile-wrap">
<header class="mobile-header flex-item--none">
  <hbox class="detail__head">
    <button class="detail__head__btn--back mobile-btn t-detail-back" {{action "cancel"}}>{{fa-icon "angle-left"}}</button>
    <h1 class="detail__head__title t-detail-title">{{title}}</h1>
    <div class="dropdown">
      <button class="dropdown-toggle detail__head__btn detail__head__btn mobile-btn t-mobile-action-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right bs-dropdown-menu">
        <li>{{save-button save="save"}}</li>
        <li>{{delete-button delete="delete"}}</li>
      </ul>
    </div>
  </hbox>
</header>
<section class="mobile-main flex-item--auto">
  {{yield}}
  {{component componentString model=model activities=activities save=(action "save") mobile=mobile tagName="flexgrow"}}
</section>
<footer class="mobile-footer flex-item--none">
  <hbox class="mobile-footer__wrapper">
    {{#each hashComponents as |componentObj|}}
      <div class="mobile-footer__item">
        <a class="t-mobile-footer-item {{componentObj.active}}" {{action "renderSection" componentObj}}>{{componentObj.title}}</a>
      </div>
    {{/each}}
  </hbox>
</footer>
</vbox>
