{{#animation-wrapper 
  slideInRight=slideInRight
  slideOutRight=slideOutRight
  slideOutUp=slideOutUp
  class="animated-fast"
}}

  <vbox class="mobile-wrap">
    <header class="mobile-header flex-item--none" data-test-id="mobile-header">
      <hbox class="detail__head">
        <button class="detail__head__btn--back mobile-btn t-detail-back" {{action "cancel"}}>{{fa-icon "angle-left"}}</button>
        <h1 class="detail__head__title t-detail-title" data-test-id="mobile-detail-title">{{title}}</h1>
        <button class="detail__head__btn detail__head__btn--action mobile-btn t-save-btn" {{action "save"}} data-test-id="mobile-save-btn">{{t "crud.save_only.button"}}</button>
      </hbox>
    </header>
    <section class="mobile-main flex-item--auto">
      {{yield}}
      {{component componentString model=model
        activities=activities
        save=(action "save")
        mobile=mobile
        tagName="flexgrow"
        classNames="mobile-inner"
        mobileComponentData=(filter-by "component" componentString hashComponents)
        role_change=role_change
      }}
    </section>
    {{mobile/full-screen-footer
      hashComponents=hashComponents
      renderSection=(action "renderSection")
    }}
  </vbox>

{{/animation-wrapper}}

<!-- mobile dialog -->
{{#if mobileDialog}}
  {{#modal-dialog translucentOverlay=true}}
    <div>
      <div class="modal-header">
        <h4 class="modal-title t-modal-title">{{t 'crud.discard_changes'}}</h4>
      </div>
      <div class="modal-body t-modal-body">
        <p>{{t 'crud.discard_changes_confirm'}}</p>
      </div>
      <div class="modal-footer t-modal-footer">
        <button type="button" class="btn btn-default t-modal-cancel-btn" {{action "cancel_modal"}}>{{t 'crud.no'}}</button>
        <button type="button" class="btn btn-primary t-modal-rollback-btn" {{action "rollback_model"}}>{{t 'crud.yes'}}</button>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
