<span class="activity-icon">{{fa-icon "sitemap"}}</span>
{{ticket-activity-creator-link activity=activity}}<span data-test-id="t-ticket-category"> {{begString}} {{firstVar}} {{middle}} {{secondVar}} </span><span class="activity-timestamp t-activity-timestamp" title="{{fulltime}}">{{moment-from-now activity.created interval=60000}}</span>
