{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
}}

<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section style="padding-bottom: 0">
        <div class="row card-title">
          <h1 class="col-md-12 t-<%= dasherizedModuleName %>-header">
            <span class="new">
            {{#if model.new}}
              {{t "<%= dasherizedModuleName %>.new"}}
            {{else}}
              {{t "<%= dasherizedModuleName %>.detail"}}
            {{/if}}
            </span>
          </h1>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <section>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="<%= dasherizedModuleName %>.<%= firstProperty %>" for="<%= firstProperty %>"}}
              {{validated-input
                model=model
                value=model.<%= firstPropertySnake %>
                valuePath="<%= firstPropertySnake %>"
                didValidate=didValidate
                className="form-control t-<%= dasherizedModuleName %>-<%= firstProperty %>"
                placeholder=(t "<%= dasherizedModuleName %>.<%= firstPropertySnake %>")
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="<%= dasherizedModuleName %>.<%= secondProperty %>" for="<%= secondProperty %>"}}
            {{db-fetch-select
              model=model
              selectedAttr=model.<%= secondPropertySnake %>
              className="t-<%= dasherizedModuleName %>-<%= secondProperty %>-select"
              displayName="<%= secondModelDisplaySnake %>"
              change_func="change_<%= secondPropertySnake %>"
              repository=<%= secondModelCamel %>Repo
              searchMethod="findPeople"
              valuePath="<%= secondPropertySnake %>"
            }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="<%= dasherizedModuleName %>.<%= thirdProperty %>" for="<%= thirdProperty %>"}}
            {{db-fetch-multi-select
              model=model
              multiAttrIds="<%= thirdPropertySnake %>_ids"
              selectedAttr=model.<%= thirdPropertySnake %>
              className="t-<%= dasherizedModuleName %>-<%= thirdProperty %>-select"
              displayName="<%= thirdAssociatedModelDisplay %>"
              add_func="add_<%= thirdPropertySnake %>"
              remove_func="remove_<%= thirdPropertySnake %>"
              repository=<%= thirdAssociatedModelCamel %>Repo
              searchMethod="find<%= thirdAssociatedModelTitle %>"
            }}
            {{/form-group}}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
