{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
}}

<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section style="padding-bottom: 0">
        <div class="row card-title">
          <h1 class="col-md-12 t-tenant-header">
            {{#if model.company_name}}
              {{model.company_name}}
            {{else}}
              <span class="new">{{t "tenant.new"}}</span>
            {{/if}}
          </h1>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="tenant.company_name" for="company_name"}}
              {{validated-input
                model=model
                valuePath="company_name"
                didValidate=didValidate
                className="form-control t-tenant-company_name"
                placeholder=(t "tenant.company_name")
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="tenant.company_code" for="company_code"}}
              {{validated-input
                model=model
                valuePath="company_code"
                didValidate=didValidate
                className="form-control t-tenant-company_code"
                placeholder=(t "tenant.company_code")
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="tenant.scid" for="scid"}}
              <span data-test-id="tenant-scid">{{model.scid}}</span>
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="tenant.dashboard_text" for="dashboard_text"}}
              {{validated-input
                model=model
                valuePath="dashboard_text"
                didValidate=didValidate
                className="form-control t-tenant-dashboard_text"
                placeholder=(t "tenant.dashboard_text")
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.tenant.currency" for="currency"}}
              {{power-select-foreign-key
                mainModel=model
                model=model
                selected=model.default_currency
                change_method="change_default_currency"
                relatedModels=currencies
                relatedModelName="currency"
                valuePath="default_currency"
                didValidate=didValidate
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.tenant.countries" for="country"}}
              {{power-select-validation
                model=model
                valuePath="countries"
                didValidate=didValidate
              }}
              {{db-fetch-multi-select
                model=model
                multiAttr="countries"
                multiAttrIds="countries_ids"
                selectedAttr=model.countries
                className="t-tenant-country-select"
                displayName="name"
                add_func="add_country"
                remove_func="remove_country"
                repository=countryRepo
                searchMethod="findCountry"
                didValidate=didValidate
                valuePath="countries"
              }}
            {{/form-group}}
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="row card-title">
          <h2 class="col-md-12">{{t "admin.tenant.implementation"}}</h2>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="tenant.implementation_contact_initial" for="implementation_contact_initial"}}
              {{validated-input
                model=model
                valuePath="implementation_contact_initial"
                didValidate=didValidate
                className="form-control t-tenant-implementation_contact_initial"
                placeholder=(t "tenant.implementation_contact_initial")
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.tenant.implementation_email" for="implementation_email"}}
              {{input-single-email
                model=model
                email=model.implementation_email
                noDelete=true
                valuePath="implementation_email"
                didValidate=didValidate
              }}
            {{/form-group}}
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="row card-title">
          <h2 class="col-md-12">{{t "admin.tenant.billing"}}</h2>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="tenant.billing_contact" for="billing_contact"}}
              {{validated-input
                model=model
                valuePath="billing_contact"
                didValidate=didValidate
                className="form-control t-tenant-billing_contact"
                placeholder=(t "tenant.billing_contact")
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.tenant.billing_address" for="billing_address"}}
            {{input-single-address
              model=model
              address=model.billing_address
              noDelete=true
              didValidate=didValidate
            }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.tenant.billing_email" for="billing_email"}}
            {{input-single-email
              model=model
              email=model.billing_email
              noDelete=true
              didValidate=didValidate
            }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.tenant.billing_phonenumber" for="billing_phonenumber"}}
            {{input-single-phone
              model=model
              phonenumber=model.billing_phone_number
              noDelete=true
              didValidate=didValidate
            }}
            {{/form-group}}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
