{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
  noun="tenant"
  permissions=permissions
}}

<section class="docSection container-fluid">
  {{#card-title}}
    <h1 class="col-md-12 t-tenant-header">
      {{#if model.company_name}}
        {{model.company_name}}
      {{else}}
        <span class="new">{{t "tenant.new"}}</span>
      {{/if}}
    </h1>
  {{/card-title}}

  {{#card-section}}
    {{tenants/tenant/detail-section
      model=model
    }}
  {{/card-section}}

  {{card-title title="admin.tenant.implementation"}}
  {{#card-section}}
    {{tenants/tenant/implementation-section
      model=model
    }}
  {{/card-section}}

  {{card-title title="admin.tenant.billing"}}
  {{#card-section}}
    {{tenants/tenant/billing-section
      model=model
    }}
  {{/card-section}}
</section>
