<hbox {{action "toggleMobileFilterInput"}}>
  <div class="flex-item--auto filter__label">
    <span>{{if column.headerIsTranslatable (t column.headerLabel) column.headerLabel}}</span>
  </div>
  <div class="flex-item--none filter__icon">
    <button class="mobile-filter {{filterClass}} {{if (fulltext-active column.field find) 'on' ''}}"></button>
  </div>
</hbox>
{{#if mobileFilterInput}}
  {{#transition-group transition-class="transition--vertical"}}
  <div class="flex-item--none filter__input-wrap t-filter__input-wrap">
    {{#if column.filterComponent}}
      {{component column.filterComponent 
        column=column 
        gridIdInParams=gridIdInParams 
        updateGridFilterParams=updateGridFilterParams
      }}
    {{else}}
      {{input class="form-control filter-input t-filter-input" value=initialVal key-up=(action "updateGridFilterObj")}}
    {{/if}}
  </div>
  {{/transition-group}}
{{/if}}
