<form class="form-horizontal" action="return false">
	<header>
		<h1>{{t model.name}}<small></small></h1>
		<div class="btn-group btn-group-sm pull-right center-block">
			{{save-button save="save"}}
			{{cancel-button cancel="cancel"}}
			{{delete-button delete="delete"}}
		</div>

	</header>
	<section class="docSection col-sm-12 locationlevel">


			{{#form-group title="Name" for="Name"}}
		  	{{input type="text" placeholder="Name" value=(t model.name) disabled="disabled" class="form-control" id="name"}}
			{{/form-group}}

			{{#form-group title="Children" for="Children"}}
				{{select-picker 
					liveSearch="advanced"
					summaryMessage="Multiple children"
					showBadge=true
					content=mylocationlevels
		      selection=model.children
		      multiple=true
		      optionLabelPath="content.name"
		      optionValuePath="content.id"
		    }}
	    {{/form-group}}
	    
	    <div class="row">
	    	<div class="col-lg-8 col-lg-offset-2">
	    		<h5>The following settings determine how locations in this level will act</h5>
	    	</div>
	    </div>
	    
	    {{#form-group title="Ticketable"}}
				<div class="switch"></div>
					{{input id="Ticketable" name="Ticketable" type="checkbox" class="cmn-toggle cmn-toggle-round"}}
					<label for="Ticketable"></label>
			{{/form-group}}
			{{#form-group title="Addresses"}}
				<div class="switch"></div>
					{{input id="Addresses" name="Addresses" type="checkbox" class="cmn-toggle cmn-toggle-round"}}
					<label for="Addresses"></label>
			{{/form-group}}
			{{#form-group title="Assets"}}
				<div class="switch"></div>
					{{input id="Assets" name="Assets" type="checkbox" class="cmn-toggle cmn-toggle-round"}}
					<label for="Assets"></label>
			{{/form-group}}
			{{#form-group title="Contact Info."}}
				<div class="switch"></div>
					{{input id="Contact" name="Contact" type="checkbox" class="cmn-toggle cmn-toggle-round"}}
					<label for="Contact"></label>
			{{/form-group}}
			{{#form-group title="Landlords"}}
				<div class="switch"></div>
					{{input id="Landlords" name="Landlords" type="checkbox" class="cmn-toggle cmn-toggle-round"}}
					<label for="Landlords"></label>
			{{/form-group}}
			{{#form-group title="Warrantees"}}
				<div class="switch"></div>
					{{input id="Warrantees" name="Warrantees" type="checkbox" class="cmn-toggle cmn-toggle-round"}}
					<label for="Warrantees"></label>
			{{/form-group}}
			{{#form-group title="Catalog Selectors"}}
				<div class="switch"></div>
					{{input id="Catalog" name="Catalog" type="checkbox" class="cmn-toggle cmn-toggle-round"}}
					<label for="Catalog"></label>
			{{/form-group}}

	</section>
</form>
