{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
  noun="category"
  permissions=permissions
}}

<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section class="card-title">
        <div class="row">
          <h1 class="col-md-12">
            {{#if model.name}}
            {{model.name}}
            {{else}}
            <span class="new t-new-category-name">{{t 'admin.category.new'}}</span>
            {{/if}}
          </h1>
        </div>
      </section>
    </div>
  </div>
  {{categories/detail-section
    model=model
  }}
  {{categories/cost-section
    model=model
  }}
  {{categories/other-section
    model=model
    repository=repository
  }}
</section>
