<form {{action "return false" this on="submit"}}>
	<header>
		<h1>{{model.name}}</h1>
		<div class="btn-group btn-group-sm pull-right center-block" style="z-index: 2">
      {{button-generic save="save" type="save"}}
      {{button-generic cancel="cancel" type="cancel"}}
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">{{fa-icon "files-o"}} Duplicate</a></li>
				<li><a href="#">{{fa-icon "print"}} Print</a></li>
				<li>{{delete-button delete="delete"}}</li>
			</ul>
		</div>
	</header>
	<section class="docSection container-fluid">
		<section>
			<h2 class="col-sm-12">{{t "admin.category.label.general"}}</h2>
			<div class="col-sm-5">
				{{#form-group title="admin.category.label.name" for="name"}}
			    	{{input type="text" placeholder=(t "admin.category.label.name") value=model.name class="form-control t-category-name" id="category_name" required="required"}}
				{{/form-group}}
			</div>
			<div class="col-sm-5">
				{{#form-group title="admin.category.label.description" for="description"}}
			    	{{input type="text" placeholder=(t "admin.category.label.description") value=model.description class="form-control t-category-description" id="category_description" required="required"}}
				{{/form-group}}
			</div>
    </section>
	</section>
</form>

