<form {{action "return false" this on="submit"}}>
    {{base-component
        model=model
        save="save"
        cancel="cancel"
        delete="delete"
    }}
      <section>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.dtd.label.key" for="key"}}
            {{input type="text" placeholder=(t "admin.dtd.label.key") value=model.key class="form-control t-dtd-key" id="dtd_key"}}
            {{#if (v-get model 'key' 'isInvalid')}}
                <div class="t-wat error">
                  {{v-get model 'key' 'message'}}
                </div>
            {{/if}}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#form-group title="admin.dtd.label.description" for="description"}}
                  {{textarea type="text" placeholder=(t "admin.dtd.label.description") value=model.description class="form-control t-dtd-description" id="dtd_description"}}
                {{/form-group}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#form-group title="admin.dtd.label.note" for="note"}}
                  {{textarea type="text" placeholder=(t "admin.dtd.label.note") value=model.note class="form-control t-dtd-note" id="dtd_note"}}
                {{/form-group}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#form-group title="admin.dtd.label.fields" for="fields"}}
                {{/form-group}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#form-group title="admin.dtd.label.prompt" for="prompt"}}
                  {{textarea type="text" placeholder=(t "admin.dtd.label.prompt") value=model.prompt class="form-control t-dtd-prompt" id="dtd_prompt"}}
                {{/form-group}}
            </div>
        </div>
      </section>
      <section>
      {{#each model.links as |link|}}
        <div class="row">
            <div class="col-md-12">
                {{#form-group title="admin.dtd.label.link.request" for="request"}}
                  {{input type="text" placeholder=(t "admin.dtd.label.link.request") value=link.request class="form-control t-dtd-link-request" id="dtd_link_request"}}
                {{/form-group}}
                {{#form-group title="admin.dtd.lable.link.action_button" for="action_button"}}
                    {{input type="checkbox" checked=link.action_button class="form-control t-dtd-link-action_button"}}
                {{/form-group}}
                {{#form-group title="admin.dtd.lable.link.is_header" for="is_header"}}
                    {{input type="checkbox" checked=link.is_header class="form-control t-dtd-link-is_header"}}
                {{/form-group}}
                <div class="ticket-action priority">
                    {{ticket-priority-select ticket=link priorities=priorities clear=true}}
                </div>
            </div>
        </div>
        {{/each}}
      </section>
</form>
