<form {{action "return false" this on="submit"}}>
    <article class="main">
        <div class="wrapper form">
            {{base-component
            model=model
            save="save"
            cancel="cancel"
            delete="delete"
            }}
            <section class="docSection container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        {{#form-group title="admin.dtd.label.key" for="key"}}
                        {{input type="text" placeholder=(t "admin.dtd.label.key") value=model.key class="form-control t-dtd-single-key" id="dtd_key"}}
                        {{#if (v-get model 'key' 'isInvalid')}}
                        <div class="t-wat error">
                            {{v-get model 'key' 'message'}}
                        </div>
                        {{/if}}
                        {{/form-group}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{#form-group title="admin.dtd.label.description" for="description"}}
                        {{textarea type="text" placeholder=(t "admin.dtd.label.description") value=model.description class="form-control t-dtd-single-description" id="dtd_description"}}
                        {{/form-group}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{#form-group title="admin.dtd.label.note" for="note"}}
                        {{textarea type="text" placeholder=(t "admin.dtd.label.note") value=model.note class="form-control t-dtd-note" id="dtd_note"}}
                        {{/form-group}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{#form-group title="admin.dtd.label.fields" for="fields"}}
                        {{/form-group}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{#form-group title="admin.dtd.label.prompt" for="prompt"}}
                        {{textarea type="text" placeholder=(t "admin.dtd.label.prompt") value=model.prompt class="form-control t-dtd-prompt" id="dtd_prompt"}}
                        {{/form-group}}
                    </div>
                </div>      {{#each model.links as |link|}}
                <div class="row">
                    <div class="col-md-12">
                        {{#form-group title="admin.dtd.label.link.request" for="request"}}
                        {{input type="text" placeholder=(t "admin.dtd.label.link.request") value=link.request class="form-control t-dtd-link-request" id="dtd_link_request"}}
                        {{/form-group}}
                        {{#form-group title="admin.dtd.label.link.text" for="text"}}
                        {{input type="text" placeholder=(t "admin.dtd.label.link.text") value=link.text class="form-control t-dtd-link-text" id="dtd_link_text"}}
                        {{/form-group}}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox form-group">
                                    <label>
                                        {{input type="checkbox" checked=link.action_button class="form-control t-dtd-link-action_button" id="action_button"}}
                                        <span>{{t "admin.dtd.label.link.action_button"}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox form-group">
                                    <label>
                                        {{input type="checkbox" checked=link.is_header class="form-control t-dtd-link-is_header" id="is_header"}}
                                        <span>{{t "admin.dtd.label.link.is_header"}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        {{#form-group title="admin.dtd.lable.link.priority" for="priority"}}
                            <div class="ticket-action priority">
                                {{power-select-foreign-key mainModel=link selected=link.priority change_method='change_priority' relatedModels=priorities relatedModelName='ticket-priority' clear=true}}
                            </div>
                        {{/form-group}}
                        {{#form-group title="admin.dtd.lable.link.status" for="status"}}
                            <div class="ticket-action status">
                                {{power-select-foreign-key mainModel=link selected=link.status change_method='change_status' relatedModels=statuses relatedModelName='ticket-status' clear=true}}
                            </div>
                        {{/form-group}}
                    </div>
                </div>
                {{/each}}
            </section>
        </div>
    </article>
</form>