{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
}}
<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <span class="t-ajax-error {{if ajaxError "" "hidden"}}">
        {{#each ajaxError as |error|}}
        <span>{{error.value}}</span>
        {{/each}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section class="card-title">
        <div class="row">
          <h1 class="col-md-12">
            {{model.name}} <small>{{model.number}}</small>
          </h1>
          <p class="col-md-12">{{model.location_level.name}}</p>
        </div>
      </section>
    </div>
    <div class="col-md-4 user-info">
      <section>
        <div class="row">
          <div class="col-md-12">
            {{form-photo icon="building"}}
          </div>
        </div>
      </section>
    </div>
    {{locations/location/detail-section
      model=model
      didValidate=didValidate
    }}
    {{locations/location/contact-section
      model=model
      didValidate=didValidate
    }}
    {{locations/location/organization-section
      model=model
      isDisabled=isDisabled
    }}
  </div>
</section>
