{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
  noun="location"
  permissions=permissions
}}
<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <span class="t-ajax-error {{if ajaxError "" "hidden"}}">
        {{#each ajaxError as |error|}}
        <span>{{error.value}}</span>
        {{/each}}
      </span>
    </div>
  </div>

  {{#card-title}}
    <div class="col-md-12">
      {{#image-block
        icon="building" 
        model=model
        size="large"
      }}
        <h1 class="title">
          {{#if model.name}}
            {{model.name}}
            {{#if model.number}}<small>{{model.number}}</small>{{/if}}
          {{else}}
            <span class="new">{{t 'admin.location.new'}}</span>
          {{/if}}
        </h1>
        {{#if model.location_level.name}}<p class="subtitle">{{model.location_level.name}}</p>{{/if}}
      {{/image-block}}
    </div>
  {{/card-title}}

  {{#card-section}}
  {{locations/location/detail-section
    model=model
  }}
  {{/card-section}}

  {{card-title title="admin.location.label.contact"}}
  {{#card-section}}
    {{locations/location/contact-section
      model=model
    }}
  {{/card-section}}

  {{locations/location/organization-section
    model=model
    disabled=disabled
  }}
</section>
