{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
  noun="location"
  permissions=permissions
}}
<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <span class="t-ajax-error {{if ajaxError "" "hidden"}}">
        {{#each ajaxError as |error|}}
        <span>{{error.value}}</span>
        {{/each}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section class="card-title card-title--photo">
        <div class="row">
          <div class="col-md-12">
            {{form-photo icon="building" model=model}}
            <h1>
              {{#if model.name}}
                {{model.name}}
                {{#if model.number}}<small>{{model.number}}</small>{{/if}}
              {{else}}
                <span class="new">{{t 'admin.location.new'}}</span>
              {{/if}}
            </h1>
            {{#if model.location_level.name}}<p>{{model.location_level.name}}</p>{{/if}}
          </div>
        </div>
      </section>
    </div>
    {{locations/location/detail-section
      model=model
    }}
    {{locations/location/contact-section
      model=model
    }}
    {{locations/location/organization-section
      model=model
      disabled=disabled
    }}
  </div>
</section>
