{{power-select-validation
  model=model
  valuePath="event"
  index="0"
}}
<div class="row">
  <div class="col-md-12" data-validation-target="event0">
    {{#form-group title="admin.automation.events"}}
      {{#power-select-multiple
        selected=model.event
        onchange=(action "selectEvents")
        onopen=(action "fetchEvents")
        tagName="div"
        class="t-automation-event-select"
        searchEnabled=false
        options=options
        as |event|
      }}
        {{t event.key}}
      {{/power-select-multiple}}
    {{/form-group}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{#form-group title="admin.automation.filters"}}
    {{#each model.pf as |pf index|}}
      {{power-select-validation
        model=model
        valuePath="pf"
        index=index
      }}
      <div class="input-group-vertical" data-validation-target={{concat "pf" index}}>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="t-del-pf-btn btn btn-default btn-sm delete" type="button" {{action "delete" pf}}>{{fa-icon "minus"}}</button>
          </span>
          {{#power-select
            class="t-automation-pf-select"
            tagName="div"
            selected=pf
            options=options
            placeholder=(t "admin.automation.placeholder.available_filter")
            onchange=(action "setAutomationFilter" pf)
            onopen=(action "fetchFilters" index)
            searchEnabled=false
            as |pf|
          }}
            {{t pf.key}}
          {{/power-select}}
        </div>
        {{component (automation-filter pf.field)
          model=pf
        }}
      </div>
    {{/each}}
    {{/form-group}}
    <button class="t-add-pf-btn btn-add btn btn-default btn-sm" type="button" disabled={{addFilterDisabled}} {{action "append"}}>
      <span class="btn-label">{{fa-icon "plus"}} {{t "admin.automation.pf.add"}}</span>
    </button>
  </div>
</div>
