<form {{action "return false" this on="submit"}}>
	<header>
		<h1>{{model.first_name}} {{model.last_name}} <small>{{model.title}}</small></h1>
		<div class="btn-group btn-group-sm pull-right center-block" style="z-index: 2">
			{{save-button save="savePerson"}}
			{{cancel-button cancel="cancelPerson"}}
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">{{fa-icon "files-o"}} Duplicate</a></li>
				<li><a href="#">{{fa-icon "print"}} Print</a></li>
				<li>{{delete-button delete="deletePerson"}}</li>
			</ul>
		</div>
	</header>
	<section class="docSection container-fluid">
		<section>
			<h2 class="col-sm-12">General Information</h2>
			<div class="col-sm-6">
				{{#form-group title="admin.person.label.first_name" for="first_name"}}
			    {{input type="text" placeholder=(t "admin.person.label.first_name") value=model.first_name class="form-control t-person-first-name" id="first_name" required="required"}}
				{{/form-group}}
			</div>
			<div class="col-sm-6">
				{{#form-group title="admin.person.label.last_name" for="last_name"}}
			    {{input type="text" placeholder=(t "admin.person.label.last_name") value=model.last_name class="form-control t-person-last-name" id="last_name" required="required"}}
				{{/form-group}}
			</div>
			<div class="col-sm-6">
				{{#form-group title="admin.person.label.title" for="title"}}
			  	{{input type="text" placeholder=(t "admin.person.label.title") value=model.title class="form-control t-person-title" id="title"}}
				{{/form-group}}
			</div>
			<div class="col-sm-6">
				{{#form-group title="admin.person.label.emp_number" for="emp_number"}}
			    {{input type="text" placeholder=(t "admin.person.label.emp_number") value=model.emp_number class="form-control t-person-emp_number" id="emp_number"}}
				{{/form-group}}
			</div>
			<div class="col-sm-12">
				{{#form-group title="admin.person.label.role" for="role"}}
			    {{input type="text" placeholder=(t "admin.person.label.role") value=(t model.role.name) class="form-control" id="role"}}
				{{/form-group}}

				{{#form-group title="admin.person.label.auth_amount" for="auth_amount"}}
		      	{{input-currency model=model field="auth_amount"}}
				{{/form-group}}
			</div>
		</section>
		<section>
			<h2 class="col-sm-12">Credentials</h2>
			<div class="col-sm-12">
				{{#form-group title="admin.person.label.status"}}
					<select class="form-control t-statuses-select">
			        {{#each statuses as |status|}}
			            <option class="t-status-option">{{status.name}}</option>
			        {{/each}}
					</select>
				{{/form-group}}
			</div>
			<div class="col-sm-6">
				{{#form-group title="admin.person.label.username" for="username"}}
				    {{input type="text" placeholder=(t "admin.person.label.username") value=model.username class="form-control t-person-username" id="username" required="required"}}
					{{#validation-error-field submitted=submitted field="username" className="t-username-validation-error" model=model validation=usernameValidation}}invalid username{{/validation-error-field}}
				{{/form-group}}
			</div>
			<div class="col-sm-6">
				{{#form-group title="admin.person.label.password" for="password"}}
				    <div><button class="btn btn-default btn-sm">{{t "admin.person.label.change_password"}}</button></div>
				{{/form-group}}
			</div>
		</section>
		<section>
			<h2 class="col-sm-12">Contact</h2>
			<div class="col-sm-6">
				{{#form-group title="admin.person.label.phone_number.other"}}
					{{input-multi-phone placeholder=(t "admin.person.label.phone_number.one") model=phone_numbers types=phone_number_types}}
				{{/form-group}}
			</div>
			<div class="col-sm-6">
				{{#form-group title="admin.person.label.address" for="addresses"}}
					{{input-multi-address
						model=addresses
						state_list=state_list
						countries=countries
						address_types=address_types
					}}
				{{/form-group}}
			</div>
		</section>
	</section>
</form>
