{{base-component
  model=model
  save="save"
  cancel="cancel"
}}
<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section style="padding-bottom: 0">
        <div class="row card-title">
          <h1 class="col-md-12">
            {{model.name}}
            {{#if model.number}}
            ({{model.number}})
            {{/if}}
          </h1>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <section>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.third_party.label.name" for="name"}}
              {{validated-input
                model=model
                valuePath="name"
                didValidate=didValidate
                className="form-control t-third-party-name"
                placeholder=(t "admin.third_party.label.name")
                class="t-third-party-name-validator"
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.third_party.label.number" for="number"}}
              {{validated-input
                model=model
                valuePath="number"
                didValidate=didValidate
                className="form-control t-third-party-number"
                placeholder=(t "admin.third_party.label.number")
                class="t-third-party-number-validator"
              }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{power-select-foreign-key mainModel=model selected=model.status change_method='change_status' relatedModels=statuses relatedModelName='status'}}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
