<div class="row">
  <div class="col-md-12">
    <section>
      <div class="row card-title">
        <h2 class="col-md-12">{{t "admin.person.label.settings"}}</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{#form-group}}
          <div class="checkbox">
            <label>
              <input type="checkbox" value={{model.accept_assign}} onclick={{action changeBool "accept_assign"}} checked={{model.accept_assign}} class="t-person-accept_assign" name="accept_assign">
              <span class="t-person-accept_assign-label">{{t "admin.setting.accept_assign"}}</span>
            </label>
            <p class="inherited-msg--under">
              {{#link-to "admin.roles.role" model.inherited.accept_assign.inherits_from_id class="t-inherited-msg-accept_assign-link"}}
              <span class="t-person-accept_assign-label-inherits_from">{{t "crud.inherited_from" from=model.inherited.accept_assign.inherits_from}}</span>
              {{/link-to}}
            </p>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value={{model.accept_notify}} onclick={{action changeBool "accept_notify"}} checked={{model.accept_notify}} class="t-person-accept_notify" name="accept_notify">
              <span class="t-person-accept_notify-label">{{t "admin.setting.accept_notify"}}</span>
            </label>
            <p class="inherited-msg--under">
              {{#link-to "admin.roles.role" model.inherited.accept_notify.inherits_from_id class="t-inherited-msg-accept_notify-link"}}
              <span class="t-person-accept_notify-label-inherits_from">{{t "crud.inherited_from" from=model.inherited.accept_notify.inherits_from}}</span>
              {{/link-to}}
            </p>
          </div>
          {{/form-group}}
        </div>
      </div>
    </section>
  </div>
</div>
