<nav class="tabs">
  <box horizontal>
    {{#each tabs as |tab|}}
      {{#if tab.model.new}}
        {{tab-navigation
        tab=tab
        link_id=tab.model.new_pk
        close=(action "closeTab")
        closeTabMaster=attrs.closeTabMaster
        }}
      {{else if tab.model_id}}
        {{tab-navigation
        tab=tab
        link_id=tab.model_id
        close=(action "closeTab")
        closeTabMaster=attrs.closeTabMaster
        model=tab.singleTabModel
        }}
      {{else}}
        {{tab-navigation
        tab=tab
        link_id=tab.model.id
        close=(action "closeTab")
        closeTabMaster=attrs.closeTabMaster
        }}
      {{/if}}
    {{/each}}
    <div class="new tab" {{action "homeModalShowing"}}>
      {{!--
      {{#if homeModalShowing}}
        {{#modal-dialog translucentOverlay=true close="homeModalShowing"}}
        <span {{action "homeModalShowing"}}>{{#link-to "dt.new" tagName="button" class="btn btn-success t-launch-dt-ticket" action="homeModalShowing"}}{{t "dt.ticket.launch"}}{{/link-to}}</span>
        {{/modal-dialog}}
      {{/if}}
      --}}
      {{#link-to "tickets.new" tagName="span" class="t-home-modal-show"}}
        {{fa-icon "plus"}}
      {{/link-to}}
    </div>
  </box>
</nav>
