<nav class="tabs" data-test-id="tabs">
  <box horizontal>
    {{#each tabs as |tab|}}
      {{#if tab.model.new}}
        {{tab-navigation
        tab=tab
        link_id=tab.model.new_pk
        close=(action "closeTab")
        closeTabMaster=attrs.closeTabMaster
        }}
      {{else if tab.model_id}}
        {{tab-navigation
        tab=tab
        link_id=tab.model_id
        close=(action "closeTab")
        closeTabMaster=attrs.closeTabMaster
        model=tab.singleTabModel
        }}
      {{else}}
        {{tab-navigation
        tab=tab
        link_id=tab.model.id
        close=(action "closeTab")
        closeTabMaster=attrs.closeTabMaster
        }}
      {{/if}}
    {{/each}}
    <div onmouseleave={{action "toggleNewModuleList"}} onmouseenter={{action "toggleNewModuleList"}} class="new tab {{if isOpen "active"}}" data-test-id="new-link-list">
      <button {{action "linkToNew"}} data-test-id="link-to-new-ticket"> {{fa-icon "plus"}} </button>
      {{#ember-wormhole to="home-menu-component"}}
        {{dashboard-add-new
          linkToNew=linkToNew
          linkToNew=linkToNew
          isOpen=isOpen
          keepMeOpen=(action "keepMeOpen")
          closeTask=closeTask
          top=top
          left=left
          permissions=permissions
        }}
      {{/ember-wormhole}}
    </div>
  </box>
</nav>
