{{#dtds/dtd-header as |previewShowing detailShowing listShowing message|}}
  {{#if listShowing.showingList}}
    <div class="dtd-col dtd-list">
      {{dtds/dtd-list
        count=count
        model=model
        page=page
        sort=sort
        search=search
        find=find
        requested=requested
        isLoading=isLoading
        page_size=page_size
        filterModel=filterModel
        filtersets=filtersets
        routeName=routeName
        defaultSort=defaultSort
        noun="dtd"
        plural=(t "admin.dtd.other")
        prefix="admin.dtd.label"
        grid_title=(t "admin.dtd" count="2")
        list_url="dtds.index"
        detail_url="dtds.dtd"
        add_model_url="dtds.new"
        search_placeholder=(t "admin.dtd.search")
        add_model_text=(t "admin.dtd.one")
        save_filterset=(action "save_filterset")
        hasActiveFilterSet=hasActiveFilterSet
      }}
    </div>
  {{/if}}
  {{#if detailShowing.showingDetail}}
    {{#if message}}
      {{dtds/dtd-empty title='admin.dtd.detail' message=message}}
    {{else}}
      <div class="dtd-col dtd-detail">
        {{outlet 'detail'}}
      </div>
    {{/if}}
  {{/if}}
  {{#if previewShowing.showingPreview}}
    {{#if message}}
      {{dtds/dtd-empty title='admin.dtd.preview'}}
    {{else}}
      <div class="dtd-col dtd-preview t-dtd-preview">
        {{outlet 'preview'}}
      </div>
    {{/if}}

  {{/if}}
{{/dtds/dtd-header}}
