{{#if (eq field.type field.types.[0])}}
  <label for="dtd-field-preview" class="t-dtd-field-label-preview">{{field.label}}</label>
  {{input id="dtd-field-preview" type="text" class="form-control t-dtd-field-preview"}}
{{else if (eq field.type field.types.[1])}}
  <label for="dtd-field-preview" class="t-dtd-field-label-preview">{{field.label}}</label>
  {{input id="dtd-field-preview" type="number" class="form-control t-dtd-field-preview"}}
{{else if (eq field.type field.types.[2])}}
  <label for="dtd-field-preview" class="t-dtd-field-label-preview">{{field.label}}</label>
  {{textarea autoresize=true id="dtd-field-preview" class="form-control t-dtd-field-preview"}}
{{else if (eq field.type field.types.[3])}}
  <label for="dtd-field-preview" class="t-dtd-field-label-preview">{{field.label}}</label>
  {{power-select-foreign-key mainModel=field displayName="text" relatedModels=field.options relatedModelName='dtd-field' notTranslated=true}}
{{else if (eq field.type field.types.[4])}}
  <label for="dtd-field-preview" class="t-dtd-field-label-preview">{{field.label}}</label>
  {{#each field.options as |option|}}
    <div class="checkbox">
      <label>
        <input type="checkbox">
        <span>{{option.text}}</span>
      </label>
    </div>
  {{/each}}
{{/if}}
