{{#if savingFilter}}
{{#tether-dialog close="toggleSaveFilterSetModal" containerClassNames="save-filterset-dialog" hasOverlay=true clickOutsideToClose=true}}
<div class="form-group input-group">
  {{input value=filtersetName class="form-control input-md t-filterset-name-input" enter="invokeSaveFilterSet" placeholder=(t "grid.filterset_name")}}
  <div class="input-group-btn">
    <button class="btn btn-primary btn-sm t-filterset-save-btn" {{action "invokeSaveFilterSet"}}>{{t "grid.save_filter"}}</button>
  </div>
  <h6 class="error t-save-filterset-error-msg">{{logMsg}}</h6>
</div>
{{/tether-dialog}}
{{/if}}
{{#if toggleFilter}}
{{#tether-dialog containerClassNames="save-filterset-dialog" close="toggleFilterModal" hasOverlay=true clickOutsideToClose=true}}
<div class="form-group input-group">
  {{input-dynamic-filter close="toggleFilterModal" obj=filterModel prop=filterField placeholder=filterPlaceholder}}
  <div class="input-group-btn">
    <button class="btn btn-primary btn-sm t-filterset-save-btn" {{action "toggleFilterModal"}}>{{t "grid.filter"}}</button>
  </div>
</div>
{{/tether-dialog}}
{{/if}}

