<form class="form-horizontal">
	<header>
			<h1>New Person</h1>
		<div class="btn-group btn-group-sm pull-right center-block">
			{{save-button save="savePerson"}}
			{{cancel-button cancel="cancelPersonEdit"}}
		</div>
	</header>
	<section class="docSection col-sm-12">

			{{#form-group title="Title" for="title"}}
		    		{{input type="text" placeholder="Enter" class="form-control new" value=title id="title"}}
			{{/form-group}}

			{{#form-group title="Username" for="username"}}
		    		{{input type="text" placeholder="Enter" class="form-control new" value=username id="username" required="required"}}
			{{/form-group}}

			{{#form-group title="First Name" for="first_name"}}
		    		{{input type="text" placeholder="Enter" class="form-control new" value=first_name id="first_name" required="required"}}
			{{/form-group}}

			{{#form-group title="Last Name" for="last_name"}}
		    		{{input type="text" placeholder="Enter" class="form-control new" value=last_name id="last_name" required="required"}}
			{{/form-group}}

			{{#form-group title="Active" for="searchField"}}
					<div class="switch"></div>
						<input id="myonoffswitch" name="myonoffswitch" type="checkbox" class="cmn-toggle cmn-toggle-round" />
						<label for="myonoffswitch"></label>
			{{/form-group}}

			{{#form-group title="Employee Number" for="employee_id"}}
		    		{{input type="text" placeholder="Enter" class="form-control new" value=employee_id id="employee_id" required="required"}}
			{{/form-group}}

				{{input-multi value=emails}}

			{{#form-group title="Addresses" for="addresses"}}
		    		{{input type="text" placeholder="Enter" class="form-control new" value=addresses id="addresses"}}
			{{/form-group}}

			{{#form-group title="Authorization Amount" for="auth_amount"}}
		    		{{input type="text" placeholder="Enter" class="form-control new" value=auth_amount id="auth_amount" required="required"}}
			{{/form-group}}

			{{#form-group title="Role" for="role"}}
		    		{{input type="text" placeholder="Enter" class="form-control new" value=role id="role" required="required"}}
			{{/form-group}}

	</section>
</form>
