<!-- Main wrapper -->
<div class="bs-mobile t-bs-mobile {{if drawerOpen 'mobile-tray-open'}}">
  <div id="mobile-grid-filter-wormhole">
  </div>
  <!-- full screen + detail module -->
  <div id="mobile-single-wormhole">
  </div>
  <!-- Drawer -->
  <vbox class="mobile-tray">
    <div class="mobile-tray__inner flex-item--auto">
      <ul>
        {{#mobile-search-wrapper tagName="li"}}
          {{grid-search-input placeholder=(t "selects.searchPlaceholder")}}
        {{/mobile-search-wrapper}}

        <li class="nav-section">
          <ul class="nav-section-inner">
            <li class="nav-item t-nav-mobile-tray-item">{{#link-to "dashboard"}}{{t "modules.tickets.newTickets"}}{{/link-to}}</li>
            <li class="nav-item t-nav-mobile-tray-item">{{#link-to "dashboard"}}{{t "modules.tickets.openTickets"}}{{/link-to}}</li>
            <li class="nav-item t-nav-mobile-tray-item">{{#link-to "dashboard"}}{{t "modules.workOrders.overdue"}}{{/link-to}}</li>
            <li class="nav-item t-nav-mobile-tray-item">{{#link-to "dashboard"}}{{t "admin.approval.other"}}{{/link-to}}</li>
            <li class="nav-item t-nav-mobile-tray-item">{{#link-to "dashboard"}}Delayed{{/link-to}}</li>
          </ul>
        </li>

        <li class="nav-section">
          <ul class="nav-section-inner">
            <li class="nav-item t-nav-mobile-tray-item" {{action "closeDrawer"}}>{{#link-to "tickets.index"}}{{t "modules.tickets.titleShort"}}{{/link-to}}</li>
            <li class="nav-item t-nav-mobile-tray-item">{{#link-to "dashboard"}}{{t "modules.workOrders.titleShort"}}{{/link-to}}</li>
            <li class="nav-item t-nav-mobile-tray-item">{{#link-to "dashboard"}}{{t "modules.invoices.titleShort"}}{{/link-to}}</li>
          </ul>
        </li>

        <li class="nav-section">
          <ul class="nav-section-inner">
            <li class="nav-item t-nav-mobile-tray-item" {{action "closeDrawer"}}>{{#link-to "admin-mobile" class="t-mobile-tray-admin"}}{{t "admin.title"}}{{/link-to}}</li>
          </ul>
        </li>

      </ul>
    </div>
    <ul class="flex-item--none">
      {{people/person-current}}
    </ul>
  </vbox>

  <!-- Contents within flow of app -->
  <vbox class="mobile-wrap">
    <header class="mobile-header flex-item--none">
      {{nav-bar toggleDrawer=(action "toggleDrawer")}}
    </header>
    <section class="mobile-main flex-item--auto" id="infinity-loading">
      {{outlet}}
    </section>
    {{mobile-footer}}
  </vbox>
</div>
