<nav class="modules moduleMenu">
    {{#if media.isMobile}}
    <a href="#" class="menu-toggle" {{action 'show_menu' bubbles=false}}>{{fa-icon 'bars'}}</a>
    {{/if}}
    {{#if showing}}
    <ul class="moduleWrap list-inline t-navbar-items">
        <li>{{#link-to "index"}}{{t 'menu.home'}}{{/link-to}}</li>
        <li>{{#link-to "tickets.index" class="t-nav-tickets"}}{{t 'modules.tickets.titleShort'}}{{/link-to}}</li>
        <li>{{#link-to "work-orders"}}{{t 'modules.workOrders.titleShort'}}{{/link-to}}</li>
        <li>{{#link-to "purchase-orders"}}{{t 'modules.purchaseOrders.titleShort'}}{{/link-to}}</li>
        <li>{{#link-to "tasks"}}{{t 'modules.tasks.titleShort'}}{{/link-to}}</li>
        <li>{{#link-to "projects"}}{{t 'modules.projects.titleShort'}}{{/link-to}}</li>
        <li>{{#link-to "rfqs"}}{{t 'modules.rfqs.titleShort'}}{{/link-to}}</li>
        <li>{{#link-to "pms"}}{{t 'modules.pms.titleShort'}}{{/link-to}}</li>
        <li>{{#link-to "assets"}}{{t 'modules.assets.titleShort'}}{{/link-to}}</li>
        <li>{{#link-to "invoices"}}{{t 'modules.invoices.titleShort'}}{{/link-to}}</li>
    </ul>
    {{/if}}
</nav>
