{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete="delete"
}}

<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section style="padding-bottom: 0">
        <div class="row card-title">
          <h1 class="col-md-12 t-profile-header">
            <span class="new">
            {{#if model.new}}
              {{t 'admin.profile.new'}}
            {{else}}
              {{t 'admin.profile.detail'}}
            {{/if}}
            </span>
          </h1>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <section>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.profile.description" for="description"}}
              {{validated-input
                model=model
                value=model.description
                valuePath="description"
                didValidate=didValidate
                className="form-control t-ap-description"
                placeholder=(t "admin.profile.description")
            }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.profile.assignee" for="assignee"}}
            {{db-fetch-select
              model=model
              selectedAttr=model.assignee
              className="t-profile-assignee-select"
              displayName="username"
              change_func="change_assignee"
              repository=personRepo
              searchMethod="findPeople"
              valuePath="assignee"
            }}
            {{/form-group}}
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <section>
        <div class="row card-title">
          <h2 class="col-md-12 t-filter-section-title">{{t "admin.section.title.filter"}}</h2>
        </div>

        {{#each model.pfs as |filter|}}
          <div class="input-group">
            <span class="input-group-btn">
              <button class="t-del-filter-btn btn btn-default btn-sm delete" type="button" {{action 'removeFilter' filter}}>{{fa-icon "minus"}}</button>
            </span>
            <span class="input-group-btn">
              {{general-power-select
                model=model
                className="t-filter-selector"
                selected=filter
                field="key"
                isObject=true
                options=model.availablePfilters
              }}
            </span>
          </div>
        {{/each}}

        <button class="t-add-filter-btn btn-add btn btn-default btn-sm" type="button" {{action 'addFilter'}}>
          <span class="btn-label">{{fa-icon "plus"}} {{t "admin.btn.add_filter"}}</span>
        </button>


      </section>
    </div>
  </div>
</section>
