<form {{action "return false" this on="submit"}}>

  {{base-component-new
  model=model
  save="save"
  cancel="cancel"
  }}

	<section class="docSection container-fluid">
		<section>
      <div class="row">
        <div class="col-md-12">
          {{#form-group title="ticket.label.subject" for="subject"}}
          {{input type="text" placeholder=(t "ticket.label.subject") value=model.subject class="form-control t-ticket-subject"}}
          {{/form-group}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{parent-ticket-category-select ticket=model top_level_category_options=top_level_category_options}}
        </div>
      </div>
      <select class="form-control t-ticket-priority" onchange={{action "changed_priority" value="target.value"}}>
        {{#each priorities as |priority|}}
        <option value={{priority.id}} selected={{is-equal model.priority.id priority.id}}>{{priority.name}}</option>
        {{/each}}
      </select>
      {{#validation-error-field submitted=submitted field="priority" className="validation validation-under t-priority-validation-error" model=model validation=priorityValidation}}invalid priority{{/validation-error-field}}
      <select class="form-control t-ticket-status" onchange={{action "changed_status" value="target.value"}}>
        {{#each statuses as |status|}}
        <option value={{status.id}} selected={{is-equal model.status.id status.id}}>{{status.name}}</option>
        {{/each}}
      </select>
      {{#validation-error-field submitted=submitted field="status" className="validation validation-under t-status-validation-error" model=model validation=statusValidation}}invalid status{{/validation-error-field}}
		</section>
	</section>
</form>
