<aside class="side-panel">
  <header>
    <h1></h1>
  </header>
  <menu class="t-side-menu">
    <section>
      <div class="col-md-12">
        {{#form-group title="ticket.label.location-name" for="location"}}
        {{db-fetch-select model=model selectedAttr=model.location className="t-ticket-location-select" displayName="name" change_func="change_location" remove_func="remove_location" repository=locationRepo searchMethod="findTicket"}}
        {{#validation-error-field submitted=submitted field="location" className="validation validation-under t-location-validation-error" model=model validation=locationValidation}}{{t "validation.invalid"}} {{t "ticket.label.location-name"}}{{/validation-error-field}}
        {{/form-group}}
      </div>
      <div class="col-md-12">
        {{#form-group title="ticket.label.priority-name" for="priority"}}
        {{power-select-foreign-key mainModel=model selected=model.priority change_method='change_priority' relatedModels=priorities relatedModelName='ticket-priority'}}
        {{#validation-error-field submitted=submitted field="priority" className="validation validation-under t-priority-validation-error" model=model validation=priorityValidation}}{{t "validation.invalid"}} {{t "ticket.label.priority-name"}}{{/validation-error-field}}
        {{/form-group}}
      </div>
      <div class="col-md-12">
        {{#form-group title="ticket.label.status-name" for="status"}}
        {{power-select-foreign-key mainModel=model selected=model.status change_method='change_status' relatedModels=statuses relatedModelName='ticket-status'}}
        {{#validation-error-field submitted=submitted field="status" className="validation validation-under t-status-validation-error" model=model validation=statusValidation}}{{t "validation.invalid"}} {{t "ticket.label.status-name"}}{{/validation-error-field}}
        {{/form-group}}
      </div>
      <div class="col-md-12">
        {{#form-group title="ticket.label.cc" for="cc"}}
        {{db-fetch-multi-select model=model multiAttr="cc" multiAttrIds="cc_ids" selectedAttr=model.cc className="t-ticket-cc-select" displayName="fullname" add_func="add_cc" remove_func="remove_cc" repository=personRepo searchMethod="findPeople"}}
        {{/form-group}}
      </div>
      <div class="col-md-12">
        {{#form-group title="ticket.label.assignee-fullname" for="assignee"}}
        {{db-fetch-select model=model selectedAttr=model.assignee className="t-ticket-assignee-select" displayName="fullname" change_func="change_assignee" remove_func="remove_assignee" repository=personRepo searchMethod="findPeople"}}
        {{#validation-error-field submitted=submitted field="assignee" className="validation validation-under t-assignee-validation-error" model=model validation=assigneeValidation}}{{t "validation.invalid"}} {{t "ticket.label.assignee-fullname"}}{{/validation-error-field}}
        {{/form-group}}
      </div>
    </section>
  </menu>
</aside>


<article class="main">
  <div class="form">
    <header>
      {{base-component
        model=model
        save="save"
        cancel="cancel"
      }}
    </header>

    <section class="docSection container-fluid">
      <div class="row">
        <div class="col-md-12">
          <section style="padding-bottom: 0">
            <div class="row card-title">
              <h1 class="col-md-12">{{model.top_level_category.name}} <small>{{model.number}}</small></h1>
            </div>
          </section>
        </div>
        <div class="col-md-12">
          <section>
            <div class="row">
              <div class="col-md-12">
                {{#parent-model-category-select ticket=model top_level_category_options=top_level_category_options as |child_valid|}}
                <span class="validation validation-under t-category-validation-error {{child-validation submitted child_valid}}">{{t "validation.invalid"}} {{t "ticket.label.category-name"}}</span>
                {{/parent-model-category-select}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{input type="text" placeholder=(t "ticket.label.requester") value=model.requester class="form-control t-ticket-requester"}}
                {{#validation-error-field submitted=submitted field="requester" className="validation validation-under t-requester-validation-error" model=model validation=requesterValidation}}invalid requester{{/validation-error-field}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{input type="text" placeholder=(t "ticket.label.request") value=model.request class="form-control t-ticket-request"}}
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</article>
