<label for="dtd-field-preview" class="t-dtd-preview-field-label">
  {{field.label}}
  {{if field.required "*" ""}}
</label>
{{#if (eq field.type field.types.[0])}}
  {{input type="text" value=field.displayValue class="form-control t-dtd-field-preview t-dtd-field-text" key-up=(action "updateRequest" undefined ticket) }}
{{else if (eq field.type field.types.[1])}}
  {{input type="number" value=field.displayValue class="form-control t-dtd-field-preview t-dtd-field-number" key-up=(action "updateRequest" undefined ticket) }}
{{else if (eq field.type field.types.[2])}}
  {{textarea autoresize=true value=field.displayValue class="form-control t-dtd-field-preview t-dtd-field-textarea" key-up=(action "updateRequest" undefined ticket) }}
{{else if (eq field.type field.types.[3])}}
  {{power-select-action mainModel=field displayName="text" relatedModels=field.options relatedModelName='dtd-field' notTranslated=true action=(action "updateRequest") ticket=ticket}}
{{else if (eq field.type field.types.[4])}}
  {{#each field.options as |option|}}
    <div class="checkbox">
      <label>
        <input type="checkbox" class="t-dtd-field-checkbox" checked={{is-checked option=option model_id=model_id}} onchange={{action "updateCheckbox" option.text ticket option}}>
        <span>{{option.text}}</span>
      </label>
    </div>
  {{/each}}
{{/if}}
