<label for="dtd-field-preview" class="t-dtd-field-label-preview">
  {{field.label}}
  {{if field.required "*" ""}}
</label>
{{#if (eq field.type field.types.[0])}}
  {{input type="text" class="form-control t-dtd-field-preview t-dtd-field-text"}}
{{else if (eq field.type field.types.[1])}}
  {{input type="number" class="form-control t-dtd-field-preview t-dtd-field-number"}}
{{else if (eq field.type field.types.[2])}}
  {{textarea autoresize=true class="form-control t-dtd-field-preview t-dtd-field-textarea"}}
{{else if (eq field.type field.types.[3])}}
  {{power-select-foreign-key mainModel=field displayName="text" relatedModels=field.options relatedModelName='dtd-field' notTranslated=true}}
{{else if (eq field.type field.types.[4])}}
  {{#each field.options as |option|}}
    <div class="checkbox">
      <label>
        <input type="checkbox" class="t-dtd-field-checkbox" {{action "optionSelect" option.text field.label ticket}}>
        <span>{{option.text}}</span>
      </label>
    </div>
  {{/each}}
{{/if}}
