{{#card-section data-test-id="expanded"}}
  <div class="work-order-expanded">
    <div class="flex flex--align-center">
      <div class="contractor flex-item--auto">
        {{#image-block
          model=model
          droppedImage=model.provider.logo
          size="medium"
          readonly="true"
          icon="wrench"
          dataTestId=(concat "provider-logo" indx)
        }}
        <h1 class="title" data-test-id={{concat "provider-name" indx}}>{{model.provider.name}}</h1>
          <p class="subtitle" data-test-id={{concat "provider-address-" indx}}>
            {{model.provider.address1}} {{model.provider.city}}{{if model.provider.city (if model.provider.state ", ")}}{{model.provider.state}} {{model.provider.postal_code}}{{if model.provider.phone " • "}}{{model.provider.phone}}{{if model.provider.email " • "}}{{model.provider.email}}
          </p>
        {{/image-block}}
      </div>
      <div>
        <div class="expander" data-test-id={{concat "expander-expanded" indx}} {{action (toggle "isExpanded" this)}}>{{fa-icon "caret-down"}}</div>
      </div>
    </div>

    <div class="timeline flex">
      {{#each model.timelineItems as |item i|}}
        <div data-test-id={{concat "timeline-item-" indx "-" i}} class="item timeline__item">
          <div class="item__icon">
          </div>
          <div class="item__text">
            <button class="btn" data-test-id={{concat "timeline-btn" indx "-" i}}>
              {{t item.name}}
            </button>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="row">
      {{card-sub-title classNames="col-md-8" data-test-id=(concat "work-order-title-cost" indx) title="work_order.title.cost" icon="bank"}}
      {{card-sub-title classNames="col-md-4" data-test-id=(concat "work-order-title-schedule" indx) title="work_order.title.schedule" icon="clock-o"}}
    </div>
    <div class="row">
      <div class="col-md-4">
        {{#form-group title="work_order.label.cost_estimate" dataTestId=(concat "wo-fg-cost" indx) for="cost_estimate"}}

          <!-- placeholder should be default cost from category -->
          {{input-currency
            model=model
            field="cost_estimate"
            valuePath="cost_estimate"
            currencyField="cost_estimate_currency"
            count=indx
            placeholder=(t "work_order.label.cost_estimate")
            readonly=model.isReadOnly
            disabled=model.isReadOnly
          }}

          {{#if model.approved_amount}}
            <p class="help-text--approval" data-test-id={{concat "work-order-approved" indx}}>
              {{fa-icon "check-circle"}}
              {{t "work_order.phrase.approval"
                cost=(format-money model.approved_amount
                  symbol=(get
                    (get-currency-object
                      currencyService=currency
                      currencyId=model.cost_estimate_currency
                    )
                  'symbol')
                )
                approver=model.approver.fullname
                approvedDate=(moment-calendar model.approval_date)
              }}
            </p>
          {{else}}
            <p class="help-text" data-test-id={{concat "work-order-not-approved" indx}}>
              {{fa-icon "check-circle"}}
              {{t "work_order.phrase.not_approved"}}
            </p>
          {{/if}}
        {{/form-group}}
      </div>
      <div class="col-md-4">
        {{#form-group title="work_order.label.gl_code" dataTestId=(concat "wo-fg-gl" indx) for="gl_code"}}
          <!-- placeholder should be default cost from category -->
          {{validated-input
            model=model
            valuePath="gl_code"
            count=indx
            className=(concat "t-wo-gl_code" indx)
            readonly=model.isReadOnly
          }}
        {{/form-group}}
      </div>
      <div class="col-md-4">
        {{#form-group title="work_order.label.scheduled_date" for="scheduled_date" dataTestId=(concat "wo-fg-scheduled_date" indx)}}
          {{#if rescheduling}}

            {{input-calendar
              onSelection=(action "setDate")
              format="MM/DD/YYYY"
              value=model.scheduled_date
              dataTestId="scheduled-date"
              readonly=model.isReadOnly
              disabled=model.isReadOnly
              minDate=today
            }}
            <button data-test-id="cancel-reschedule" class="btn btn-default" type="button" {{action (queue (action "cancelReschedule") (toggle "rescheduling" this))}}>{{t "work_order.label.reschedule_cancel"}}</button>

          {{else}}

            {{#if (has-permission permissions=permissions verb="change" resource="workorder")}}
              <div class="input-group">
                <input type="text" class="form-control" readonly="readonly" value={{moment-format model.scheduled_date "MM/DD/YYYY"}}>
                <span class="input-group-btn">
                  <button data-test-id="begin-reschedule" class="btn btn-default" type="button" {{action (toggle "rescheduling" this)}}>{{t "work_order.label.reschedule"}}</button>
                </span>
              </div>
            {{else}}
              <div class="input-group">
                <input type="text" data-test-id="scheduled-date" class="form-control" disabled="disabled" readonly="readonly" value={{moment-format model.scheduled_date "MM/DD/YYYY"}}>
                <span class="input-group-addon">{{fa-icon "calendar"}}</span>
              </div>
            {{/if}}

          {{/if}}
        {{/form-group}}
        {{#form-group title="work_order.label.tracking_number" readonly=true for="tracking_number" dataTestId=(concat "wo-fg-tracking_number" indx)}}
          <div data-test-id={{concat "wo-tracking" indx}}>
            {{#if model.tracking_number}}
              {{model.tracking_number}}
            {{else}}
              {{t "work_order.label.tracking_tbd"}}
            {{/if}}
          </div>
        {{/form-group}}
      </div>
    </div>
    <div class="row">
      {{card-sub-title classNames="col-md-12" data-test-id=(concat "work-order-title-instructions" indx) title="work_order.title.instructions" icon="wrench"}}
    </div>
    <div class="row">
      <div class="col-md-8">
        {{#form-group title="work_order.label.instructions" optional=true dataTestId=(concat "wo-fg-instructions" indx) for="instructions"}}
          <!-- placeholder should be default cost from category -->
          {{textarea
            autoresize=true
            class="form-control t-instructions"
            value=model.instructions
            readonly=model.isReadOnly
          }}
        {{/form-group}}
      </div>
    </div>
  </div>
{{/card-section}}
