{{base-component
  model=model
  save="save"
  cancel="cancel"
}}

<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section class="card-title">
        <div class="row">
          <h1 class="col-md-12">
            <span class="new">{{t "admin.person.new"}}</span>
          </h1>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <section>
        <div class="row">
          <div class="col-sm-12">
            {{#form-group title="admin.person.label.username" for="username"}}
            {{input-backend-validation 
              model=model 
              value=model.username 
              valuePath="username" 
              placeholder=(t "admin.person.label.username") 
              className="t-person-username" 
              class="t-person-username-validator"
            }}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{#form-group title="admin.person.label.password" for="password"}}
            {{validated-input
              model=model
              placeholder=(t "admin.person.label.password")
              valuePath="password"
              className="t-person-password"
              class="t-person-password-validator"
              type="password"
            }}
            {{/form-group}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            {{people/person-text-input
              model=model
              field="first_name"
            }}
          </div>
          <div class="col-md-2">
            {{people/person-text-input
              model=model
              field="middle_initial"
              optional="true"
            }}
          </div>
          <div class="col-md-5">
            {{people/person-text-input
              model=model
              field="last_name"
            }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{#form-group title="admin.person.label.role-name" for="role"}}
            {{role-select model=model}}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.person.label.language" dataTestId="locale" optional="true" for="locale"}}
            {{power-select-foreign-key
              model=model
              selected=model.locale
              change_method="change_locale"
              relatedModelName="locale"
              allowClear="true"
              placeholder="admin.locale.default"
            }}
            {{/form-group}}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
