<form {{action "return false" this on="submit"}}>

  {{base-component-new
  model=model
  save="save"
  cancel="cancel"
  }}

  <section class="docSection container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section style="padding-bottom: 0">
          <div class="row card-title">
            <h1 class="col-md-12">
              <span class="new">{{t "admin.person.new"}}</span>
            </h1>
          </div>
        </section>
      </div>
      <div class="col-md-12">
        <section>
          <div class="row">
            <div class="col-sm-12">
              {{#form-group title="admin.person.label.username" for="username"}}
              {{input-backend-validation model=model value=model.username valuePath="username" placeholder=(t "admin.person.label.username") className="form-control t-person-username" didValidate=didValidate}}
              {{/form-group}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              {{#form-group title="admin.person.label.password" for="password"}}
              {{input type="password" value=model.password placeholder=(t "admin.person.label.password") class="form-control t-person-password" id="password" autocomplete="new-password"}}
              {{#validation-error-field submitted=submitted field="password" className="validation validation-under t-password-validation-error" model=model validation=passwordValidation}}{{t "validation.invalid"}} {{t "admin.person.label.password"}}{{/validation-error-field}}
              {{/form-group}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              {{#form-group title="admin.person.label.role-name" for="role"}}
              {{role-select model=model options=roles}}
              {{/form-group}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{#form-group title="admin.person.label.language" for="locale"}}
              {{power-select-foreign-key mainModel=model selected=model.locale change_method="change_locale" relatedModels=locales relatedModelName="locale"}}
              {{/form-group}}
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</form>
