{{base-component-new
  model=model
  save="save"
  cancel="cancel"
}}

<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section style="padding-bottom: 0">
        <div class="row card-title">
          <h1 class="col-md-12">
            <span class="new">{{t "admin.person.new"}}</span>
          </h1>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <section>
        <div class="row">
          <div class="col-sm-12">
            {{#form-group title="admin.person.label.username" for="username"}}
            {{input-backend-validation model=model value=model.username valuePath="username" placeholder=(t "admin.person.label.username") className="form-control t-person-username" didValidate=didValidate idZ="username"}}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{#form-group title="admin.person.label.password" for="password"}}
            {{validated-input model=model value=model.password placeholder=(t "admin.person.label.password") valuePath="password" className="form-control t-person-password" didValidate=didValidate class="t-person-password-validator" idZ="password" type="password"}}
            {{/form-group}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            {{#form-group title="admin.person.label.first_name" for="first_name"}}
            {{validated-input placeholder=(t "admin.person.label.first_name") value=model.first_name class="t-first-name-validator" id="first_name" model=model valuePath="first_name" className="form-control t-person-first-name" didValidate=didValidate}}
            {{/form-group}}
          </div>
          <div class="col-md-2">
            {{#form-group title="admin.person.label.middle_initial" for="middle_initial"}}
            {{validated-input placeholder=(t "admin.person.label.middle_initial") value=model.middle_initial class="t-middle-initial-validator" id="middle_initial" model=model valuePath="middle_initial" className="form-control t-person-middle-initial" didValidate=didValidate}}
            {{/form-group}}
          </div>
          <div class="col-md-5">
            {{#form-group title="admin.person.label.last_name" for="last_name"}}
            {{validated-input placeholder=(t "admin.person.label.last_name") value=model.last_name class="t-last-name-validator" id="last_name" model=model valuePath="last_name" className="form-control t-person-last-name" didValidate=didValidate}}
            {{/form-group}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{#form-group title="admin.person.label.role-name" for="role"}}
            {{role-select model=model options=roles}}
            {{/form-group}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{#form-group title="admin.person.label.language" for="locale"}}
            {{power-select-foreign-key mainModel=model selected=selectedLocale change_method="change_locale" relatedModels=locales relatedModelName="locale"}}
            {{/form-group}}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
