{{#each model.links as |link index|}}
  <div class="input-group-vertical">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="t-del-link-btn btn btn-default btn-sm delete" type="button" {{action "delete" link}}>{{fa-icon "minus"}}</button>
      </span>
      {{validated-input
        model=link
        value=link.text
        placeholder=(t "admin.dtd.label.link.text")
        valuePath="text"
        className="t-dtd-link-text"
        didValidate=didValidate
        class="t-link-text"
        count=index
      }}
    </div>
    {{#if (is-equal model.link_type model.link_types.[0])}}
      <div class="input-group">
        <span class="input-group-addon">{{t "admin.dtd.label.link.action_button"}}</span>
        <div class="checkbox">
          <label>
            {{input type="checkbox" checked=link.action_button class="form-control t-dtd-link-action_button"}}
            <span></span>
          </label>
        </div>
      </div>
    {{else if (is-equal model.link_type model.link_types.[1])}}
      <div class="input-group">
        <span class="input-group-addon">{{t "admin.dtd.label.link.is_header"}}</span>
        <div class="checkbox">
          <label>
            {{input type="checkbox" checked=link.is_header class="form-control t-dtd-link-is_header"}}
            <span></span>
          </label>
        </div>
      </div>
    {{/if}}
    {{parent-model-category-select model=link allowClear=true}}
    <div class="input-group">
      <span class="input-group-addon">{{t "admin.dtd.label.link.request"}}</span>
      {{input type="text" placeholder=(t "admin.dtd.label.link.request") value=link.request class="form-control t-dtd-link-request"}}
    </div>
    <div class="input-group">
      <span class="input-group-addon">{{t "admin.dtd.label.link.priority"}}</span>
      {{power-select-foreign-key 
        mainModel=link 
        selected=link.priority 
        change_method="change_priority" 
        relatedModelName="ticket-priority" 
        clear=true
      }}
    </div>
    <div class="input-group">
      <span class="input-group-addon">{{t "admin.dtd.label.link.status"}}</span>
      {{power-select-foreign-key 
        mainModel=link 
        selected=link.status 
        change_method="change_status" 
        relatedModelName="ticket-status" 
        clear=true
      }}
    </div>
    <div class="input-group">
      <span class="input-group-addon">{{t "admin.dtd.label.destination"}}</span>
      {{db-fetch-custom-select model=link selectedAttr=link.destination className="t-link-destination-select" componentName="dtds/dtd-key-desc" selectedComponent="dtds/dtd-key-desc-selected" change_func="change_destination" remove_func="remove_destination" repository=repository searchMethod="findDTD" placeholder=(t "dt.placeholder_submit")}}
    </div>
  </div>
{{/each}}
<button class="t-add-link-btn btn-add btn btn-default btn-sm" type="button" {{action "append"}}>
  <span class="btn-label">{{fa-icon "plus"}} {{t "admin.dtd.link.add"}}</span>
</button>
