<form {{action "return false" this on="submit"}}>
  {{base-component 
    model=model
    repository=repository
    save=attrs.save
    saveBase="save"
    cancel=attrs.cancel
    delete=attrs.delete
  }}
    <section class="docSection container-fluid">
        <section>
            <h2 class="col-sm-12">{{t "admin.locationlevel.label.general"}}</h2>
            <div class="col-sm-12">
                {{#form-group title="admin.locationlevel.label.name" for="name"}}
                    {{input type="text" placeholder=(t "admin.locationlevel.label.name") value=model.name class="form-control t-location-level-name" id="location_level_name" required="required"}}
                    {{#validation-error-field submitted=submitted field="name" className="validation validation-under t-name-validation-error" model=model validation=nameValidation}}{{t "validation.invalid"}} {{t "admin.locationlevel.label.name"}}{{/validation-error-field}}
                {{/form-group}}
            </div>
            <div class="col-sm-12">
              {{location-level-children model=model options=available_location_levels}}
            </div>
        </section>
    </section>
</form>
