{{#if currentStateRendered.hasBackBtn}}
  <button class="btn btn-default" {{action "back" currentStateRendered.prevStep}} data-test-id="back">{{t "work_order.create.back"}}</button>
{{/if}}

{{#if currentStateRendered.hasNextBtn}}
  <button disabled={{if disabled "disabled"}} class="btn btn-primary t-next-btn" {{action "next" currentStateRendered.nextStep}} data-test-id="next">{{t "work_order.create.next"}}</button>
{{/if}}

{{#if currentStateRendered.hasWorkOrderDispatchBtn}}
<button disabled={{if saveWorkOrderTask.isRunning "disabled"}} {{action "dispatchWorkOrder"}} class="btn btn-primary btn-icon" data-test-id="wo-send-post">{{fa-icon "wrench"}} <span class="btn-text">{{t "work_order.button.dispatch"}}</span></button>
{{/if}}

{{#if currentStateRendered.lastStep}}
  <button {{action "done"}} class="btn btn-default btn-icon" data-test-id="wo-done">{{fa-icon "check-circle"}} <span class="btn-text">{{t "work_order.button.done"}}</span></button>
{{/if}}
