{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete="delete"
}}

<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section style="padding-bottom: 0">
        <div class="row card-title">
          <h1 class="col-md-12 t-person-single-header">
            {{#if (or model.first_name model.middle_initial model.last_name)}}
              {{model.first_name}} {{model.middle_initial}} {{model.last_name}}
            {{else}}
              {{model.username}}
            {{/if}}
          </h1>
          <p class="col-md-12 t-person-single-sub-header">{{model.role.name}}</p>
        </div>
      </section>
    </div>
    {{people/detail-section
      model=model
      roles=roles
      role_change=role_change
      locales=locales
    }}
  </div>
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="row card-title">
          <h2 class="col-md-12">{{t "admin.person.label.credentials"}}</h2>
        </div>
      </section>
    </div>
  </div>
  {{people/credentials-section
    model=model
    statuses=statuses
    changeBool=(action "changeBool")
  }}
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="row card-title">
          <h2 class="col-md-12">{{t "admin.person.label.contact"}}</h2>
        </div>
      </section>
    </div>
  </div>
  {{people/contact-section
    model=model
    phone_number_types=phone_number_types
    email_types=email_types
    default_phone_number_type=default_phone_number_type
    default_email_type=default_email_type
  }}
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="row card-title">
          <h2 class="col-md-12">{{t "admin.person.label.settings"}}</h2>
        </div>
      </section>
    </div>
  </div>
  {{people/settings-section
    model=model
    changeBool=(action "changeBool")
  }}
</section>
