{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
  btnDisabled=saveTask.isRunning
  noun="person"
  permissions=permissions
}}

<section class="docSection container-fluid">
  {{#card-title}}
    <div class="col-md-12">
      {{#image-block
        icon="user"
        model=model
        onError=onError
        droppedImage=model.photo.image_medium
        addHoverText=(t "admin.person.label.add_profile_picture")
        changeHoverText=(t "admin.person.label.change_profile_picture")
        size="large"
      }}
        <h1 class="title t-person-single-header">
          {{#if (or model.first_name model.middle_initial model.last_name)}}
            {{model.first_name}} {{model.middle_initial}} {{model.last_name}}
          {{else}}
            {{model.username}}
          {{/if}}
        </h1>
        <p class="subtitle t-person-single-sub-header">{{model.role.name}}</p>
      {{/image-block}}
    </div>
  {{/card-title}}

  {{people/detail-section
    model=model
    role_change=role_change
  }}

  {{card-title title="admin.person.label.credentials"}}

  {{people/credentials-section
    model=model
    statuses=statuses
  }}

  {{card-title title="admin.person.label.contact"}}

  {{people/contact-section
    model=model
  }}

  {{card-title title="admin.person.label.settings"}}

</section>
