<h3>{{fa-icon "cogs" classNames="menuIcon"}}{{t "admin.setting" count="2"}}</h3>
<section>
  {{#link-to "admin.settings" model.settings_id class="t-nav-general-settings"}}{{t "admin.general" count="2"}}{{/link-to}}
  {{#link-to "admin.notifications"}}{{t "admin.notification" count="2"}}{{/link-to}}
  {{#link-to "admin.profiles.index" class="t-nav-assignment-profiles"}}{{t "admin.assignment" count="2"}}{{/link-to}}
  {{#link-to "admin.assignments.index" class="t-nav-admin-assignment-profiles"}}{{t "admin.assignment" count="2"}}{{/link-to}}
  {{#link-to "admin.approvals"}}{{t "admin.approval" count="2"}}{{/link-to}}
  {{#link-to "admin.templates"}}{{t "admin.template" count="2"}}{{/link-to}}
  {{#link-to "admin.translations"}}{{t "admin.translation" count="2"}}{{/link-to}}
  {{#link-to "dtds.index" class="t-nav-admin-dtd"}}{{t "admin.dtd" count="2"}}{{/link-to}}
</section>
<h3>{{fa-icon "users" classNames="menuIcon"}}{{t "admin.person.other"}}</h3>
<section>
  {{#link-to "admin.roles.index" class="t-nav-admin-role"}}{{t "admin.role" count="2"}}{{/link-to}}
  {{#link-to "admin.people.index" class="t-nav-admin-people"}}{{t "admin.person" count="2"}}{{/link-to}}
</section>
<h3>{{fa-icon "building" classNames="menuIcon"}}{{t "admin.location" count="2"}}</h3>
<section>
  {{#link-to "admin.location-levels.index" class="t-nav-admin-location-level"}}{{t "admin.locationlevel" count="2"}}{{/link-to}}
  {{#link-to "admin.locations.index" class="t-nav-admin-location"}}{{t "admin.location" count="2"}}{{/link-to}}
</section>
<h3>{{fa-icon "list" classNames="menuIcon"}}{{t "admin.category" count="2"}}</h3>
<section>
  {{#link-to "admin.categories.index" class="t-nav-admin-category"}}{{t "admin.category" count="2"}}{{/link-to}}
</section>
<h3>{{fa-icon "wrench" classNames="menuIcon"}}{{t "admin.contractor" count="2"}}</h3>
<section>
  {{#link-to "admin.contractors"}}{{t "admin.company" count="2"}}{{/link-to}}
  {{#link-to "admin.contractor-assignments"}}{{t "admin.contractorAssignment" count="2"}}{{/link-to}}
</section>
