<span class="activity-icon">{{fa-icon "comment"}}</span>
<span class="activity-person">{{#link-to "admin.people.person" activity.person.id}}{{person}}{{/link-to}}</span> <span class="activity-type">{{begString}}</span> <span class="activity-timestamp t-activity-timestamp" title="{{fulltime}}">{{moment-from-now activity.created interval=60000}}</span> <span class="activity-comment">{{format-markdown comment}}</span>
