<header>
  <div class="btn-group btn-group-sm pull-right center-block" style="z-index: 2">
    {{button-generic save="save" type="save"}}
    {{button-generic cancel="cancel" type="cancel"}}
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">{{fa-icon "files-o"}} Duplicate</a></li>
      <li><a href="#">{{fa-icon "print"}} Print</a></li>
      <li>{{delete-button delete="delete"}}</li>
    </ul>
  </div>
</header>
