<div class="btn-group btn-group-sm pull-right center-block t-crud-buttons" style="z-index: 2">
  {{button-generic save="save" saveText=saveText type="save" btnDisabled=btnDisabled}}
  {{button-generic cancel="cancel" type="cancel"}}
  <button type="button" class="btn btn-default dropdown-toggle t-dropdown-delete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu bs-dropdown-menu">
    <li><a href="#" class="t-duplicate-btn">{{fa-icon "files-o"}} {{t "crud.duplicate.button"}}</a></li>
    <li><a href="#" class="t-print-btn">{{fa-icon "print"}} {{t "crud.print.button"}}</a></li>
    {{#unless model.new}}
      {{#unless noDeleteBtn}}
        <li>{{delete-button delete="delete"}}</li>
      {{/unless}}
    {{/unless}}
  </ul>
</div>
